.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.4rem;

  th {
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $gray--medium;
    font-size: 1.6rem;
  }

  td {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $gray--medium;
    transition: all .3s;
    position: relative;

    &:first-child::before {
      content: "";
      width: .3rem;
      height: 2rem;
      position: absolute;
      left: 0;
      transition: all .3s;

      @include absolute-vertical;
    }

    &:not(:first-child)::before {
      content: "";
      position: absolute;
      left: 0;
      height: 2rem;
      background: $gray--medium;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
    }

    strong {
      font-weight: 600;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  tr:hover td {
    background: $gray--thin;

    &::before {
      background: $primary-color;
    }
  }
}