.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border: 2px solid transparent;
  text-align: center;
  cursor: pointer;
  color: $btn-color;
  transition: all .3s;
  font-weight: 500;
  background: transparent;
  outline: none;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;
  border-radius: $btn-radius;
  
  /* --- Radius Buttons --- */
  // &--radius {
  //   border-radius: $btn-radius;
  // }
  /* --- Radius Buttons --- */

  /* --- Buttons Types --- */
  &--primary {
    color: $btn-primary-color;
    background: $btn-primary-bg;
    border: 1px solid #d7d7d7;

    &:hover {
      background: $primary-color;
      color: $white;
    }
  }

  &--secondary {
    color: $btn-secondary-color;
    background: $btn-secondary-bg;

    &:hover {
      background: darken($btn-secondary-bg, 15%);
    }
  }

  &--tertiary {
    color: $btn-tertiary-color;
    background: $btn-tertiary-bg;

    &:hover {
      background: darken($btn-tertiary-bg, 15%);
    }
  }

  &--reverse {
    background: $btn-reverse-bg;
    color: $btn-reverse-color;
    border: 2px solid $btn-reverse-border;

    &:hover {
      background: $btn-reverse-color;
      color: $white;
    }
  }
  /* --- Buttons Types --- */

  /* --- Buttons Sizes --- */
  &--xs {}

  &--sm {}

  &--md {}

  &--lg {}

  &--xg {}
  /* --- Buttons Sizes --- */

  /* --- Buttons Icon --- */
  &__icon {
    fill: $btn-icon-fill-color;
    color: $btn-icon-fill-color;
    max-width: 1.5rem;
    max-height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
  }
  /* --- Buttons Icon --- */
}