.category-nav {
  $self: &;

  &__title {}

  &__list {
    list-style: none;
  }

  &__item {
    border-bottom: 1px solid $gray--medium;
    font-size: 1.2rem;
    position: relative;
    text-transform: uppercase;
  }

  &__link {
    color: #666163;
    display: block;
    padding: 1rem 3rem 1rem 1.5rem;
    transition: all .3s;
    position: relative;

    #{$self}__item &:hover,
    #{$self}__item.active & {
      text-decoration: none;
      color: $black;
    }

    #{$self}__item.active & {
      cursor: default;
    }
  }

  &__amount {
    color: $dark--medium;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__sublist {
    position: absolute;
    left: -9999px;
    top: 0;
    z-index: 2;
    border: 1px solid $gray--medium;
    min-width: 20rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;

    #{$self}__item:hover & {
      left: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  &__subitem {}

  &__sublink {
    color: $dark;
    display: block;
    transition: all .3s;
    padding: .5rem 1.5rem;
    background: $white;

    &:hover {
      color: $primary-color;
      background: $gray--light;
    }
  }
}