.header-utilities {
  display: flex;
  align-self: stretch;
  margin-left: auto;
  padding-right: 0;

  @media (min-width: $md) {
    padding-right: 1.5rem;
  }
}

.header-utility {
  $self: &;

  align-self: stretch;

  &:hover #{$self}__link {
    background: $gray--light;
  }
  
  @media (min-width: $sm) {
    &:not(:first-child) {
      border-left: 1px solid $gray--medium;
    }
  }

  &__main {
    display: flex;
    height: 100%;
    align-items: center;

    @media (min-width: $md) {
      position: relative;
    }
  }

  &__link {
    padding: 2rem .8rem;
    display: flex;
    height: 100%;
    align-items: center;
    color: $header-utility-color;

    @media (min-width: $sm) {
      padding: 2rem 2rem;
    }

    @media (min-width: $md) {
      padding: .7rem 2rem;
    }

    &-helper {
      position: relative;
    }
  }

  &__icon {
    fill: $header-utility-icon-color;

    @include size(1.6rem);

    @media (min-width: $sm) {
      @include size(2rem);      
    }

    @media (min-width: $md) {
      //width: 2.5rem;
      //height: 2.5rem;
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  &__count {
    //width: 2rem;
    //height: 2rem;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid $dark--medium;
    color: $dark--medium;
    border-radius: 50%;
    position: absolute;
    right: -1rem;
    // top: -1rem;
    top: -.5rem;
    text-align: center;
    //line-height: 2rem;
    line-height: 1.4rem;
    //font-size: 1.2rem;
    font-size: 1rem;
    white-space: nowrap;
    background: $white;
  }

  &__desc {
    font-size: 1.2rem;
    margin-left: 1.5rem;
    display: none;

    @media (min-width: $lg) {
      display: block;
    }
  }

  &__price {
    display: block;
    font-weight: 700;
  }

  &__price {}

  &__dropdown {
    position: absolute;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
    background: $white;
    top: 100%;
    min-width: 50rem;
    padding: 1.5rem;
    z-index: 3;
    box-shadow: 1px 3px 5px rgba($black, .25);

    &-title {
      font-size: 2rem;
      padding-right: 2rem;
      font-weight: 600;
    }

    &-header {}

    &-body {
      margin: 1.5rem 0;

      &.js-custom-scroll {
        max-height: 40rem;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    &-footer {}

    /* interactive */
    #{$self}__main.is-opened & {
      visibility: visible;
      left: auto;
      right: 0;
      opacity: 1;
      animation: .2s fadeInUp;
      animation-fill-mode: forwards;

      @media (max-width: $md--mw) {
        width: 100%;
        left: 0;
        min-width: 0;
      }
    }
    /* interactive */
  }

  &__dropdown-header {}

  &__dropdown-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  &__close-icon {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}