.header-contacts {
  font-size: 1.6rem;
  vertical-align: middle;
  line-height: 1.2;

  &__tel {
    color: $black;
    font-weight: 600;
    transition: all .3s;
    white-space: nowrap;

    &:hover {
      color: $primary-color;
    }

    &-icon {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: .5rem;
    }
  }

  &__request-wrap {}

  &__request {
    font-size: 1.4rem;
    color: $primary-color;
    border-bottom: 1px dotted $primary-color;
    margin-left: 2.5rem;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}