.header-utilities {
  display: flex;
  align-self: stretch;
  margin-left: auto;
}

.header-utility {
  $self: &;

  align-self: stretch;

  &:not(:first-child) {
    border-left: 1px solid $gray--medium;
  }

  &:hover #{$self}__link {
    background: $gray--light;
  }

  &__main {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
  }

  &__link {
    padding: 2rem 2rem;
    display: flex;
    height: 100%;
    align-items: center;
    color: $header-utility-color;

    @media (min-width: $md) {
      padding: 1rem 2rem;
    }

    @media (max-width: 379px) {
      padding: 2rem 1.3rem;
    }

    &-helper {
      position: relative;
    }
  }

  &__icon {
    fill: $header-utility-icon-color;

    @include size(2rem);

    @media (min-width: $md) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__count {
    width: 2rem;
    height: 2rem;
    border: 1px solid $dark--medium;
    color: $dark--medium;
    border-radius: 50%;
    position: absolute;
    right: -1rem;
    top: -1rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    white-space: nowrap;
    background: $white;
  }

  &__desc {
    font-size: 1.2rem;
    margin-left: 1.5rem;
    display: none;

    @media (min-width: $lg) {
      display: block;
    }
  }

  &__price {
    display: block;
    font-weight: 700;
  }

  &__price {}

  &__dropdown {
    position: absolute;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
    background: $white;
    top: 100%;
    min-width: 50rem;
    padding: 1rem;
    z-index: 3;
    box-shadow: 1px 3px 5px rgba($black, .25)
  }

  /* interactie */
  .is-opened &__dropdown {
    visibility: visible;
    left: auto;
    right: 0;
    opacity: 1;
    animation: .2s fadeInUp;
    animation-fill-mode: forwards;
  }
  /* interactie */

  &__dropdown-header {}

  &__dropdown-title {
    font-size: 2rem;
    padding-right: 2rem;
    font-weight: 600;
  }

  &__dropdown-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  &__close-icon {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}