.item {
  max-width: 30rem;
  width: 100%;
  border: 1px solid $gray--medium; 
  padding: 1rem;
  transition: all .3s;
  margin: 0 auto;

  &:hover {
    border-color: $gray;
  }
  
  &__img-wrap {
    height: 15rem;
    position: relative;
    display: block;
    margin-bottom: 1rem;
    border: 1px solid $gray--medium; 
  }

  &__img {
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    height: 3.5rem;
    overflow: hidden;
  }

  &__title-link {
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }

  &__articul {
    color: $dark--medium;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  &__price {
    margin-bottom: 1rem;
  }
  
  &__price-old {
    font-size: 1.4rem;
    color: $dark;
    text-decoration: line-through;
  }

  &__price-current {
    font-weight: 600;
    font-size: 1.8rem;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__add {
    max-width: 100%;
    margin-left: 1rem;
  }
}