/**
 * ==================
 * = Main Nav START =
 * ==================
 */
.main-nav {
  $self: &;

  background: $main-nav-bg;
  border-top: 1px solid $gray--medium;
  border-bottom: 1px solid $gray--medium;
  
  /* --- Desktop Navbar --- */
  @media (min-width: $md) {
    // Base Navbar START
    // -----------------------------------------
    // --- First-Level
    &__container {
      display: flex;
      position: relative;
      max-width: calc(#{$layout-max-width} - 30px);
      width: 100%;
      margin: 0 auto;
    }

    &__item {
      font-size: $main-nav-font-size;
      position: relative;
      flex: auto;
      text-align: center;

      &:hover #{$self}__link {
        background: darken($main-nav-bg, 15%);
        color: $white;
      }

      &:hover #{$self}__item-icon {
        fill: $white;
      }

      &-icon {
        width: 1rem;
        height: 1rem;
        fill: $main-nav-text-color;
        transition: all .3s;
        margin: 0 0 0 1rem;
      }
    }

    &__link {
      color: $main-nav-text-color;
      padding: 1.5rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: all .3s;
      position: relative;

      #{$self}__item:not(:first-child) &::before {
        width: 1px;
        height: 60%;
        background: $gray--medium;
        content: "";

        @include absolute-vertical;
      }
    }
    // --- /First-Level

    // --- Second-Level
    &__secondary-container {
      top: 100%;
      background: $second-level-bg-color;
      border: 1px solid $gray--medium;
      width: 100%;
      z-index: $dropdownZIndex;
      min-width: 20rem;

      @include hide-element;
    }

    &__secondary-item {
      font-size: $second-level-font-size;
      text-align: left;
      position: relative;

      &:hover #{$self}__secondary-link {
        background: darken($second-level-bg-color, 5%);
      }

      &-icon {
        width: 1rem;
        height: 1rem;
        fill: $second-level-text-color;
        transition: all .3s;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__secondary-link {
      color: $second-level-text-color;
      display: block;
      padding: 1rem 1.5rem;
    }
    // --- /Second-Level

    // --- Tertiary-Level
    &__tertiary-container {
      position: absolute;
      left: -9999px;
      top: 0;
      background: $tertiary-level-bg-color;
      opacity: 0;
      visibility: hidden;
      border: 1px solid $gray--medium;
      min-width: 20rem;
    }

    &__tertiary-item {
      font-size: $second-level-font-size;

      &:hover #{$self}__tertiary-link {
        background: darken($tertiary-level-bg-color, 5%);
      }
    }

    &__tertiary-link {
      color: $tertiary-level-text-color;
      display: block;
      padding: 1rem 1.5rem;
    }
    // --- /Tertiary-Level

    // --- Interactive
    &__item:hover #{$self}__secondary-container {
      left: 0;
      visibility: visible;
      animation: .3s fadeInUp;
      opacity: 1;
    }

    &__secondary-item:hover #{$self}__tertiary-container {
      left: 100%;
      visibility: visible;
      animation: .3s fadeInLeft;
      opacity: 1;
    }

    /* to-rigt position */
    #{$self}__item--to-right:hover #{$self}__secondary-container {
      left: auto;
      right: 0;
    }

    #{$self}__item--to-right #{$self}__secondary-item:hover #{$self}__tertiary-container {
      left: auto;
      right: 100%;
    }
    /* to-rigt position */
    // --- /Interactive
    // Base Navbar END
    // -----------------------------------------

    // Catalog Nav START
    // -----------------------------------------
    // --- First-Level
    &__item--catalog {
      max-width: $main-nav-catalog-max-width;
      flex-basis: $main-nav-catalog-max-width;
    }

    &__catalog-list {
      height: $main-nav-catalog-height;
      display: flex;
      flex-direction: column;
      width: 100%;
      top: 100%;
      background: $first-level-bg-color;
      border: 1px solid $gray--medium;
      text-align: left;
      z-index: $dropdownZIndex;

      @include hide-element;
    }

    &__catalog-item {
      flex: auto;
      height: calc(100% / 11);

      &:not(:first-child) {
        border-top: 1px solid $gray--light;
      }

      &:hover #{$self}__catalog-link {
        background: darken($first-level-bg-color, 5%);
      }

      &-icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        fill: $first-level-text-color;
        width: 1rem;
        height: 1rem;
      }
    }

    &__catalog-link {
      padding: 0 2rem 0 1rem;
      color: $first-level-text-color;
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
    }
    // --- /First-Level

    // --- Second-Level
    &__subcatalog-list {
      top: 0;
      height: 100%;
      transition: opacity .5s;
      background: $second-level-bg-color;
      width: $main-nav-catalog-max-width;
      border: 1px solid $gray--light;

      @include hide-element;
    }

    &__subcatalog-item {
      &:hover #{$self}__subcatalog-link {
        background: darken($second-level-bg-color, 5%);
      }

      &-icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        fill: $second-level-text-color;
        width: 1rem;
        height: 1rem;
      }
    }

    &__subcatalog-link {
      padding: 1rem 2rem 1rem 1rem;
      color: $second-level-text-color;
      position: relative;
      transition: all .3s;
      display: block;
    }
    // --- /Second-Level

    // --- Third-Level
    &__tertcatalog-list {
      top: 0;
      height: 100%;
      transition: opacity .5s;
      background: $second-level-bg-color;
      width: $main-nav-catalog-max-width;
      border: 1px solid $gray--light;

      @include hide-element;
    }

    &__tertcatalog-item {}

    &__tertcatalog-link {
      padding: 1rem 1rem;
      color: $second-level-text-color;
      transition: all .3s;
      display: block;

      &:hover {
        background: darken($second-level-bg-color, 5%);
      }
    }
    // --- /Third-Level

    // --- Interactive
    &__item--catalog.is-catalog-opened #{$self}__catalog-list,
    &__item--catalog:hover #{$self}__catalog-list {
      opacity: 1;
      visibility: visible;
      left: 0;
    }
    &__catalog-item:hover &__subcatalog-list {
      opacity: 1;
      visibility: visible;
      left: 100%;
    }
    &__subcatalog-item:hover &__tertcatalog-list {
      opacity: 1;
      visibility: visible;
      left: 100%;
    }
    // --- /Interactive

    // --- Dropdown-Bannes
    &__dropdown-banner {
      position: absolute;
      left: -9999px;
      top: 0;
      width: $main-nav-catalog-max-width;
      display: none;
      height: 100%;
      border: 1px solid $gray--light;

      @media (min-width: $md) {
        display: block;
      }

      #{$self}__catalog-item:hover & {
        left: 200%;
      }
    }

    &__dropdown-banner-link {
      display: block;
      height: 100%;
    }

    &__dropdown-banner-img {
      width: 100%;
      height: 100%;
      display: block;
    }
    // --- /Dropdown-Banners

    // --------------- MOD: Catalog-Item-Full --------------- //
    &__catalog-item--full-catalog {
      max-width: calc(#{$main-nav-catalog-max-width} - 2px);
      background: $first-level-bg-color;

      #{$self}__subcatalog-list {
        right: 0;
        width: 100%;
        padding-left: $main-nav-catalog-max-width + 1rem;
        z-index: -1;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transition: none;

        columns: 20rem 4;
      }

      #{$self}__subcatalog-item {
        font-weight: 600;

        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;

        &-icon {
          display: none;
        }
      }

      #{$self}__subcatalog-link {
        padding-top: .3rem;
        padding-bottom: .3rem;
        display: inline-block;
      }

      #{$self}__tertcatalog-list {
        position: static;
        opacity: 1;
        visibility: visible;
        width: 100%;
        border: none;
      }

      #{$self}__tertcatalog-item {
        font-weight: 400;
      }

      #{$self}__tertcatalog-link {
        padding-top: .3rem;
        padding-bottom: .3rem;
        display: inline-block;

        &:hover {
          background: transparent;
          text-decoration: underline;
        }
      }
    }

    #{$self}__item.active {
      position: static;

      .main-nav__catalog-item {
        max-width: calc(#{$main-nav-catalog-max-width} - 2px);
      }

      .main-nav__catalog-list {
        background: transparent;
        max-width: $main-nav-catalog-max-width;
        max-width: 100%;
      }
    }

    // --- Interactive
    &__catalog-item--full-catalog {
      &:hover #{$self}__subcatalog-list {
        left: 0;
      }

      #{$self}__subcatalog-item:hover #{$self}__subcatalog-link {
        background: transparent;
        text-decoration: underline;
      }
    }
    // --- /Interactive
    // --------------- MOD: Catalog-Item-Full --------------- //
    // Catalog Nav END
    // -----------------------------------------

    // Rows Navbar START
    // -----------------------------------------
    &__item--rows {
      position: static;
    }

    &__rows-list {
      left: 0;
      right: 0;
      text-align: left;
      background: $first-level-bg-color;
      top: 100%;
      z-index: $dropdownZIndex;
      padding: 2rem;
      line-height: 1.7;
      border: 1px solid $gray--medium;
      columns: 2rem 4;

      @include hide-element;
    }

    &__rows-item {
      font-size: $first-level-font-size;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      margin: 0 0 1rem;
    }

    &__rows-link {
      font-weight: 700;
      color: $black;

      &:hover {
        text-decoration: underline;
      }
    }

    &__rows-sublist {}

    &__rows-subitem {}

    &__rows-sublink {
      color: $second-level-text-color;

      &:hover {
        text-decoration: underline;
      }
    }

    // --- Interactive
    &__item--rows:hover &__rows-list {
      left: 0;
      opacity: 1;
      visibility: visible;
      animation: .3s fadeInUp;
    }
    // --- /Interactive
    // Rows Navbar END
    // -----------------------------------------

    // Columns Navbar START
    // -----------------------------------------
    &__item--cols {
      position: static;
    }
    
    // --- First Level
    &__cols-list {
      right: 0;
      background: $first-level-bg-color;
      top: 100%;
      z-index: $dropdownZIndex;
      text-align: left;
      border: 1px solid $gray--medium;
      transition: opacity .3s;

      @include hide-element;
    }

    &__cols-item {
      width: $main-nav-catalog-max-width;
      border-right: 1px solid $gray--medium;

      &:not(:first-child) {
        border-top: 1px solid $gray--light;
      }

      &:hover #{$self}__cols-link {
        background: $gray--light;
      }
    }

    &__cols-link {
      display: block;
      padding: 1.5rem 2rem 1.5rem 1rem;
      color: $black;
      position: relative;
    }

    &__item-cols-icon {
      width: 1rem;
      height: 1rem;
      fill: $first-level-text-color;
      transition: all .3s;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
    // --- /First Level

    // --- Second Level
    &__cols-sublist {
      right: 0;
      top: 0;
      padding: 1rem 1rem 1rem 22rem;
      width: 100%;
      min-height: 100%;
      z-index: -1;
      columns: 20rem 4;
      transition: opacity .3s ease-in-out;
      background: $second-level-bg-color;

      @include hide-element;

      #{$self}__item--cols:hover #{$self}__cols-item:first-child & {
        visibility: visible;
        opacity: 1;
        left: 0;
      }
    }

    &__cols-subitem {}
    
    &__cols-sublink {
      display: inline-block;
      vertical-align: top;
      padding: 1rem;
      color: $second-level-text-color;
      transition: all .3s;
      border-radius: 5px;

      &:hover {
        background: darken($second-level-bg-color, 5%);
      }
    }
    // --- /Second Level

    // --- Interactive
    &__item--cols:hover &__cols-list {
      left: 0;
      opacity: 1;
      visibility: visible;
    }

    &__cols-item:hover &__cols-sublist {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
    // --- /Interactive
    // Columns Navbar END
    // -----------------------------------------

    &__item > ul .icon {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
  /* --- /Desktop Navbar --- */

  /* --- Mobile Navbar --- */
  @media (max-width: $md--mw) {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    transition: left .3s ease-in-out;
    z-index: $overlayAboveZIndex;
    background: $first-level-bg-color;
    width: 30rem;

    .is-navbar-opened & {
      left: 0;
    }
    
    // --- First-Level
    &__container {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    &__item {
      font-size: $first-level-font-size;

      &:not(:first-child) {
        border-top: 1px solid $gray--medium;
      }

      &-icon {
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        fill: $first-level-text-color;
      }
    }

    &__link {
      display: block;
      padding: 1rem 1.5rem;
      color: $first-level-text-color;
      position: relative;
    }
    // --- /First-Level

    // --- Second-Level
    &__secondary-container,
    &__catalog-list,
    &__rows-list,
    &__cols-list {
      display: none;
    }

    &__secondary-item,
    &__catalog-item,
    &__rows-item,
    &__cols-item {}

    &__secondary-link,
    &__catalog-link,
    &__rows-link,
    &__cols-link {
      background: $first-level-bg-color;
      display: block;
      padding: 1rem 1rem 1rem 3rem;
      color: $first-level-text-color;
      position: relative;
    }

    &__secondary-item-icon,
    &__catalog-item-icon,
    &__item-rows-icon,
    &__item-cols-icon {
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
    // --- /Second-Level

    // --- Third-Level
    &__tertiary-container,
    &__subcatalog-list,
    &__rows-sublist,
    &__cols-sublist {
      display: none;
    }

    &__tertiary-item,
    &__subcatalog-item,
    &__rows-subitem,
    &__cols-subitem {}

    &__tertiary-link,
    &__subcatalog-link,
    &__rows-sublink,
    &__cols-sublink {
      background: $second-level-bg-color;
      display: block;
      padding: 1rem 1rem 1rem 4rem;
      color: $second-level-text-color;
      position: relative;
    }

    &__subcatalog-item-icon {
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
    // --- /Third-Level
    
    // --- Fourth Level
    &__tertcatalog-list {
      display: none;
    }

    &__tertcatalog-item {}

    &__tertcatalog-link {
      background: $tertiary-level-bg-color;
      display: block;
      padding: 1rem 1rem 1rem 6rem;
      color: $tertiary-level-text-color;
      position: relative;
    }
    // --- /Fourth Level

    // --- Interactive
    .is-opened > ul {
      display: block;
    }
    // --- /Interactive

    &__dropdown-banner {
      display: none;
    }
    
    // --- Misc
    &-trigger {
      border: none;
      background: none;

      &-icon {
        fill: $dark;
      }
    }

    &__close-nav {
      display: block;
      width: 100%;
      padding: 1rem 1.5rem;
      position: relative;
      background: transparent;
      border: none;

      font-size: 1.8rem;
      font-weight: 300;

      &-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $dark--medium;
        float: right;
      }
    }

    /* Icon-Trigger */
    .main-nav__container .icon {
      width: 4rem;
      right: 0;
      height: 100%;
      padding: 1.5rem;
      border-left: 1px solid $gray--medium;
    }

    .is-opened > a > .icon {
      transform: translateY(-50%) rotate(180deg);
    }
    /* Icon-Trigger */
    // -- /Misc
  }

  @media (min-width: $md) {
    &-trigger,
    &__close-nav,
    &__item-rows-icon {
      display: none;
    }
  }
  /* --- /Mobile Navbar --- */
}

body.is-navbar-opened {
  overflow: hidden;
}
/**
 * ================
 * = Main Nav END =
 * ================
 */


