.product-line {
  $self: &;

  display: flex;
  border-bottom: 1px solid $gray--medium;
  flex-wrap: wrap;
  padding: 3rem 1.5rem;
  transition: all .3s;

  &:hover {
    box-shadow: 0 0 1.5rem rgba($black, .15);

    @media (min-width: $md) {
      .product__offer-carousel {
        display: block;
        opacity: 1;
      }
    }
  }

  .product__header {
    position: relative;
    min-height: 18rem;
    margin-bottom: 2rem;

    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: $sm) {
      flex-basis: 30%;
      max-width: 30%;
      margin: 0;
    }

    @media (min-width: $md) {
      flex-basis: 25%;
      max-width: 25%;
    }
  }

  .product__body {
    flex: none;
    margin: 0 0 2rem;

    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: $sm) {
      flex-basis: 70%;
      max-width: 70%;
      padding: 0 2rem;
      margin: 0;
    }

    @media (min-width: $md) {
      flex-basis: 50%;
      max-width: 50%;
    }

    @media (min-width: $xlg) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .product__footer {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: $md) {
      flex-basis: 25%;
      max-width: 25%;
    }

    @media (min-width: $sm) and (max-width: $md--mw) {
      margin-top: 1.5rem;
    }
  }

  .product__view-btn {
    @media (min-width: $md) {
      left: 4.5rem;
    }
  }

  .product__offer-carousel {
    top: 0;
    opacity: 1;
    z-index: 3;

    &-container {
      height: 14rem;
    }

    .product__offer-carousel-img-wrap {
      height: 4rem;
      width: 4rem;
    }
  }

  .product__title {
    font-weight: bold;
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .product__params {
    margin: 0;
    font-size: 1.3rem;
  }

  .product__param-property {
    padding-left: 0;
  }

  .product__offers {
    margin: 0;
  }

  .product__offer-list {
    max-width: 20rem;
    margin-bottom: 1.5rem;
  }

  .product__extra {
    text-align: left;

    .product__extra-link {
      font-size: 1.2rem;
    }
  }

  .product__price-detail {
    text-align: left;
  }

  .product__price-main {
    max-width: 22rem;
  }
}