.product {
  $self: &;

  position: relative;
  transition: all .3s ease-in-out;

  //height: 35rem;
  overflow: hidden;

  @media (min-width: $md) {
    height: 35rem;
  }

  @media (min-width: $md) {
    &:hover {
      overflow: visible;

      #{$self}__wrap {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 3;
        box-shadow: 0 0 1.5rem rgba($black, .15);
      }
    }
  }

  &__wrap {
    background: $white;
    transition: all .3s ease-in-out;
    padding: 2rem;
  }

  &__header {
    // padding-top: 62.5%;
    height: 17rem;
    position: relative;
    margin-bottom: 2rem;

    .product__controls {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      z-index: 2;

      .product__control {
        a:hover svg {
          fill: $primary-color;
        }

        .icon {
          margin: 0;
          width: 1.5rem;
          height: 1.5rem;
          fill: #332f30;
        }
      }
    }
  }
  
  &__body {}

  &__footer {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  /* Header Elements */
  &__img-wrap {
    display: block;
    height: 100%;
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
  }

  &__stickers {
    position: absolute;
    right: 0;
    left: 0;
    padding: 0 3rem;
    top: 0;
    text-align: right;
  }

  &__sticker {
    display: inline-block;
    vertical-align: top;
    padding: .3rem 1rem;
    vertical-align: middle;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: .2rem;
    margin-left: .2rem;
    margin-bottom: .5rem;
    border-radius: 2.5rem;
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-width: .6rem 1.5rem 0 0;
      border-color: transparent transparent transparent transparent;
      border-style: solid solid none none;
      position: absolute;
      left: 1rem;
      top: 100%;
      clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    }

    &--new {
      background: #92cb55;
      color: $white;

      &::after {
        border-top-color: #92cb55;
      }
    }

    &--hot {
      background: #ff0000;
      color: $white;

      &::after {
        border-top-color: #ff0000;
      }
    }

    &--sale {
      background: #1b7deb;
      color: $white;

      &::after {
        border-top-color: #1b7deb;
      }
    }

    &--recom {
      background: #f8700d;
      color: $white;

      &::after {
        border-top-color: #f8700d;
      }
    }
  }

  &__view-btn {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    &:hover {
      svg {
        fill: #777;
      }
    }
  }

  &__view-icon {
    width: 1.7rem;
    height: 1.7rem;
    fill: #cfcfcf;
    pointer-events: none;
    transition: all .3s;
  }
  /* Header Elements */

  /* Body Elements */
  &__title {
    font-size: 1.4rem;
    line-height: 1.1;
    height: 1.5rem;
    overflow: hidden;
    margin-bottom: 2rem;
    text-align: center;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 1px;
      vertical-align: middle;
    }

    &-link {
      transition: all .3s;
      color: #4b4b4b;

      display: inline-block;
      vertical-align: middle;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__price-wrap {
    font-weight: 300;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    flex-wrap: wrap;
  }

  &__old-price {
    color: #a5a5a5;
    text-decoration: line-through;
    font-size: 1.4rem;
    margin-right: .5rem;
  }

  &__price {
    font-size: 1.8rem;
    color: #4b4b4b;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__discount {
    // border: 1px solid $gray--medium;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: flex;

    &-value {
      border: 1px solid $gray--medium;
      padding: .3rem .5rem;
      font-weight: 500;
      // background: $gray--thin;
    }

    &-total {
      padding: .3rem .5rem;
    }
  }

  &__add {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: $font-base-color;
    padding-left: .5rem;
    padding-right: .5rem;

    @media (min-width: $sm) {
      font-size: 1.2rem;
    }

    &-icon {
      fill: $white;
      width: 1.85rem;
      height: 1.85rem;
      margin: -2px 1rem 0 0;
    }
  }

  &__buy {
    background: $primary-color;
    border-color: $primary-color;
    padding-top: .6rem;
    padding-bottom: .6rem;

    svg {
      fill: $white;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__price-main {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    height: 4rem;
    line-height: 1;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
  }

  &__price-helper {
    white-space: nowrap;

    @media (min-width: $xlg) {
      position: relative;
    }

    &-caption {
      font-size: 1rem;
      font-weight: 300;
    }

    &-tooltip-wrap {
      display: inline-block;

      &:hover .product__price-helper-tooltip {
        opacity: 1;
        visibility: visible;
      }
    }

    &-tooltip-icon {
      fill: $primary-color;
      cursor: pointer;
    }

    &-tooltip {
      position: absolute;
      left: 1rem;
      right: 1rem;
      bottom: 100%;
      transform: translate(0, -1rem);
      background: $white;
      padding: .5rem;
      width: 100%;
      box-shadow: 0 .5rem 3rem rgba($black, 0.18);
      color: $primary-color;
      white-space: normal;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
      font-size: 1rem;
      font-weight: 300;

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-width: 1rem 2rem 0 0;
        border-color: $white transparent transparent transparent;
        border-style: solid solid none none;
        position: absolute;
        left: 1rem;
        top: 100%;
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
      }

      @media (min-width: 1400px) {
        left: 50%;
        right: auto;
        width: 19rem;
      }
    }
  }
  /* Body Elements */

  /* Footer Elements */
  &__params {
    color: $dark--medium;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 1.3rem;
    color: #4b4b4b;
  }

  &__param {
    display: flex;
  }

  &__param-property {
    font-weight: 300;
    padding:.5rem;
    color: $dark;
  }

  &__param-value {
    font-weight: 500;
    padding:.5rem;
  }

  &__desc {
    color: $dark;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__controls {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
  }

  &__control {
    padding: .5rem 0;
  }

  &__fast-buy {
    color: $dark;
    transition: all .3s;

    &-icon {
      fill: $gray;
      margin-right: .5rem;
      width: 1.5rem;
      height: 1.5rem;
      transition: all .3s;
    }

    &:hover {
      color: $dark;
    }

    &:hover &-icon {
      fill: $dark--medium;
    }
  }

  &__add-favourite {
    color: $dark;
    transition: all .3s;

    &-icon {
      //width: 1.5rem;
      //height: 1.5rem;
      width: 2rem;
      height: 2rem;
      margin-right: .5rem;
      fill: $gray;
      transition: all .3s;
    }

    &:hover {
      color: $dark;
    }

    &:hover &-icon {
      fill: $dark--medium;
    }
  }

  &__action-compare {
    color: $dark;
    transition: all .3s;

    &-icon {
      //width: 1.5rem;
      //height: 1.5rem;
      width: 2rem;
      height: 2rem;
      margin-right: .5rem;
      fill: $gray;
      transition: all .3s;
    }

    &:hover {
      color: $dark;
    }

    &:hover &-icon {
      fill: $dark--medium;
    }
  }

  &__instock {
    color: #7db343;

    &-icon {
      width: 1.2rem;
      height: 1.2rem;
      fill: #7db343;
      margin-right: .5rem;
    }
  }

  &__offers {
    margin-bottom: 1.5rem;
  }

  &__offer-type {
    margin-bottom: .5rem;
  }

  &__offer-heading {
    font-size: 1.2rem;
    color: $dark--medium;
    margin-bottom: 1rem;
  }

  &__offer-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__offer-item {
    cursor: pointer;
    border: 1px solid $gray--medium;
    width: 16.666%;
    height: 3rem;
    white-space: nowrap;
    text-align: center;
    line-height: 2.8rem;
    font-size: 1.4rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0 .5rem;

    &.is-active {
      background-color: $gray--medium;
      cursor: default;
    }

    &:not(.is-active):hover {
      background-color: #fafafa;
    }
  }

  &__offer-txt {}

  &__extra {
    text-align: center;
    font-weight: 300;

    &-link {
      display: inline-block;
      margin-bottom: .5rem;
      border-bottom: 1px dotted;
      color: #666163;
      font-size: 1.1rem;
      white-space: nowrap;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    &-type {
      display: block;
      color: $primary-color;
      font-size: 1.1rem;
    }
  }
  /* Footer Elements */

  &__price-detail {
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
    height: 4rem;

    &-value {
      color: $primary-color;
      font-size: 1.6rem;
    }

    &-desc {
      color: #4b4b4b;
      font-size: 1.4rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

  /* Offers Carousel */
  &__offer-carousel {
    position: absolute;
    left: -.5rem;
    top: 2rem;
    padding: 2rem 0;
    transition: all .3s;
    display: none;

    @media (min-width: $md) {
      opacity: 0;
      display: block;

      @at-root .product:hover {
        .product__offer-carousel {
          opacity: 1;
        }
      }
    }

    &-container {
      height: 12rem;

      opacity: 0;
      visibility: hidden;

      &.swiper-container-initialized {
        opacity: 1;
        visibility: visible;
      }
    }

    &-img-wrap {
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      position: relative;
      border: 1px solid #ddd;
      background: $white;
    }

    &-img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-height: 96%;
    }

    &-prev {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      cursor: pointer;
      line-height: 1;
      outline: none;

      &-icon {
        width: 1rem;
        height: 1rem;
      }
    }

    &-next {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      cursor: pointer;
      line-height: 1;
      outline: none;

      &-icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }
  /* Offers Carousel */
}

//pav
//dMsKn_2014