.product-line {
  $self: &;
  display: flex;
  border: 1px solid $gray--medium;
  flex-wrap: wrap;

  &__header {
    position: relative;
    padding: 1.5rem;
    min-height: 15rem;

    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: $sm) {
      flex-basis: 30%;
      max-width: 30%;
    }

    @media (min-width: $md) {
      flex-basis: 25%;
      max-width: 25%;
    }

    &:hover {
      .product__view-btn {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__body {
    flex: none;
    padding: 1.5rem;

    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: $sm) {
      flex-basis: 70%;
      max-width: 70%;
    }

    @media (min-width: $md) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  &__footer {
    flex-basis: 100%;
    max-width: 100%;
    border-left: 1px solid $gray--medium;
    padding: 1.5rem;

    @media (min-width: $md) {
      flex-basis: 25%;
      max-width: 25%;
    }
  }

  /* Line Mods */
  .product__title {
    height: auto;
    margin-top: 0;
    font-weight: 600;
  }

  .product__title-link:hover {
    color: $primary-color;
  }

  .product__img {
    max-height: 90%;
  }

  .counter {
    height: 4rem;
    margin-bottom: 2rem;
  }
  /* Line Mods */
}