.soc {

  $self: &;

  &__item {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: top;

    &:first-child {
      margin-left: 0;
    }
  }
  
  &__link {
    width: 3rem;
    height: 3rem;
    display: block;
    transition: all .3s;
    text-align: center;
    position: relative;

    &:hover {
      border-color: transparent;
    }

    &--fb:hover {
      svg {
        fill: #3b5998;
      }
    }

    &--tw:hover {
      svg {
        fill: #00aced;
      }
    }

    &--vk:hover {
      svg {
        fill: #5d84ae;
      }
    }

    &--gg:hover {
      svg {
        fill: #DD4B39;
      }
    }

    &--yt:hover {
      svg {
        fill: #c4302b;
      }
    }

    &--ok:hover {
      svg {
        fill: #ff9933;
      }
    }

    &--skype:hover {
      svg {
        fill: #00AFF0;
      }
    }

    &--whatsapp:hover {
      svg {
        fill: #4AC959;
      }
    }

    &--viber:hover {
      svg {
        fill: #665CAC;
      }
    }
  }

  &__icon {
    fill: #deebf1;
    width: 100%;
    height: 100%;
    transition: all .3s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}