include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
  
  head

    meta(charset="utf-8")

    title #{title}

    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
      
    link(rel="icon" href="images/favicon.ico")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="assets/css/styles.min.css")

  body(class=pageClass)

    include ../layouts/headers/header-inner
    include ../components/navbars/main-nav

    .container-fluid

      if breadcrumbs
        include ../components/breadcrumbs

      .primary-content

        .sidebar-area
          block sidebar
        
        main.main-content
          block main

    block footer

    script(src="assets/js/libs.min.js")
    script(src="assets/js/Modal.js")
    script(src="assets/js/main.js")

    block script