include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
  
  head

    meta(charset="utf-8")

    title #{title}

    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")

    //-link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    //-link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    //-link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    //-link(rel="manifest" href="/site.webmanifest")
    link(rel="icon" href="images/favicon.ico")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="assets/css/styles.min.css")

  body(class=pageClass)

    block content

    script(src="assets/js/libs.min.js")
    script(src="assets/js/Modal.js")
    script(src="assets/js/main.js")

    block script