footer.footer.js-footer-collapse

  .container-fluid

    .footer__main

      .row
        
        .col-md-3
          include ../../components/footer-collapse-2
        .col-md-3
          include ../../components/footer-collapse
        .col-md-3
          include ../../components/footer-collapse
        .col-md-3
          include ../../components/footer-collapse

    .footer__bottom

      small.copy &copy; Wireframe 2019

include ../../components/modal-wins/modal-win
include ../../components/modal-wins/terms-of-use-modal