article.product

  header.product__header
    a.product__img-wrap(href="#")
      img.product__img.img-responsive(src="https://static.svyaznoy.ru/upload/iblock/ba3/ipadpro105-cellular-pure-angles-space-gray-3.jpg/resize/307x224/" alt="Product Img")
    a.product__view-btn(href="#" data-modal-win-trigger="465")
      +icon('search', 'product__view-icon')
    ul.product__stickers
      li.product__sticker.product__sticker--new New
    .product__controls
      .product__control 
        a.product__add-favourite(href="#")
          +icon('heart-thin', 'product__add-favourite-icon')
      .product__control 
        a.product__action-compare(href="#")
          +icon('compare-thin', 'product__action-compare-icon')

  .product__body
    .product__title #[a.product__title-link(href="#") Валенки турецкие]
    .product__price-main
      .product__price-helper
        small.product__price-helper-caption Розничная цена
        .product__price-helper-tooltip-wrap
          +icon('question', 'product__price-helper-tooltip-icon')
          .product__price-helper-tooltip Цена указана без скидок, узнай оптовую цену после регистрации
      .product__price-wrap
        small.product__old-price 12 000 р.
        .product__price 14 000 р.
    a.product__add.btn.btn--primary(href="#" data-modal-win-trigger="add465")
      | Узнать оптовую цену