article.product
  .product__wrap

    header.product__header
      a.product__img-wrap(href="#")
        img.product__img.img-responsive(src="https://www.intel.com/content/dam/www/public/us/en/images/photography-consumer/16x9/pc-upgrades/laptops-16x9.png.rendition.intel.web.480.270.png" alt="Product Img")
      a.product__view-btn.btn.btn--primary(href="#" data-modal-win-trigger="856") Быстрый просмотр
      ul.product__stickers
        li.product__sticker.product__sticker--new Новинка
        li.product__sticker.product__sticker--sale Распродажа
        li.product__sticker.product__sticker--hot Акция
        li.product__sticker.product__sticker--recom Рекомендуем
      .product__controls
        .product__control 
          a.product__add-favourite(href="#")
            +icon('heart-thin', 'product__add-favourite-icon')
        .product__control 
          a.product__action-compare(href="#")
            +icon('compare-thin', 'product__action-compare-icon')

    .product__body
      .product__title #[a.product__title-link(href="#") Товарный заголовок]
      .product__price-wrap
        .product__price 1 003 300 р. #[small.product__old-price 300 000 р.]
      .product__add.btn.btn--primary(data-modal-win-trigger="add856")
        +icon('shopping-cart', 'product__add-icon')
        | Купить
      .product__add.btn.btn--reverse Купить в 1 клик

    footer.product__footer
      dl.product__params
        dt.product__param-property Артикул:
        dd.product__param-value 496-394-lsg
        dt.product__param-property Вес:
        dd.product__param-value 56 кг.
        dt.product__param-property Количество:
        dd.product__param-value 9 шт.
      .product__controls
        .product__control 
          a.product__fast-buy(href="#") 
            +icon('shopping-cart', 'product__fast-buy-icon')
            | В 1 клик
        .product__control 
          a.product__add-favourite(href="#")
            +icon('heart-thin', 'product__add-favourite-icon')
            | В избранное
        .product__control 
          a.product__action-compare(href="#")
            +icon('compare-thin', 'product__action-compare-icon')
            | Сравнить
        .product__control
          .product__instock
            +icon('tick', 'product__instock-icon')
            | В наличии
      .product__offers
        .product__offer-type
          .product__offer-heading Тип (серый)
          ul.product__offer-list
            li.product__offer-item.is-active(style="background-image: url(https://max-demo.ru/upload/uf/514/514039d742bf793df904206e82352b23.jpg);" title="Серый")
              span.product__offer-txt
            li.product__offer-item(style="background-image: url('https://www.intel.com/content/dam/www/public/us/en/images/photography-consumer/16x9/pc-upgrades/laptops-16x9.png.rendition.intel.web.480.270.png')" title="Желтый")
              span.product__offer-txt
        .product__offer-type
          .product__offer-heading Размер (34)
          ul.product__offer-list
            li.product__offer-item.is-active
              span.product__offer-txt 34
            li.product__offer-item
              span.product__offer-txt 36
            li.product__offer-item
              span.product__offer-txt 38
            li.product__offer-item
              span.product__offer-txt 40
            li.product__offer-item
              span.product__offer-txt 42
            li.product__offer-item
              span.product__offer-txt 44
            li.product__offer-item
              span.product__offer-txt 46
            li.product__offer-item
              span.product__offer-txt 48
            li.product__offer-item
              span.product__offer-txt 50