.product-table

  .product__header
    a.product__img-wrap(href="#")
      img.product__img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/b09/250_250_1/b09c000784b462344e821c22b98b865f.JPG" alt="Product Img")

    .product__offer-carousel
      .product__offer-carousel-container.swiper-container
        .swiper-wrapper
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/4ca/250_250_1/4ca64963203ae885373d614a59064ac4.jpg" alt="Product Img")
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/6d7/250_250_1/6d713b3f27363ef0c36102e21aeaf404.jpg" alt="Product Img")
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/460/250_250_1/46078554d7f334db621b16bcd55b4528.jpg" alt="Product Img")
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/412/250_250_1/41244e533e278e0e8d43ed900f1fc6a7.JPG" alt="Product Img")
      .product__offer-carousel-prev
        +icon('chevron-up', 'product__offer-carousel-prev-icon')
      .product__offer-carousel-next
        +icon('chevron-down', 'product__offer-carousel-next-icon')

    a.product__view-btn(href="#" data-modal-win-trigger="267")
      +icon('search', 'product__view-icon')

    ul.product__stickers
      li.product__sticker.product__sticker--sale -10%
    .product__controls
      .product__control 
        a.product__add-favourite(href="#")
          +icon('heart-thin', 'product__add-favourite-icon')
      .product__control 
        a.product__action-compare(href="#")
          +icon('compare-thin', 'product__action-compare-icon')

  .product__body
    .product__main
      .product__title #[a.product__title-link(href="#") Заголовок товара длинный, более чем в одну строку, прям на все случаи жизни]
      .product__extra.d-none.d-md-block
        a.product__extra-link(href="#") Индивидуальная разметная сетка
        small.product__extra-type Сетка великаны

    .product__meta
      .product__price-detail
        .product__price-detail-value 3 500 р. за пару
        small.product__price-detail-desc За коробку: 15 000 р. / 8 пар

  .product__footer
    .product__controls
      .product__control
        .product__instock
          +icon('tick', 'product__instock-icon')
          | Заказная позиция
      a.product__buy.btn.btn--primary(href="#" data-modal-win-trigger="add465")
        +icon('shopping-cart', '')