article.product-line

  header.product__header
    a.product__img-wrap(href="#")
      img.product__img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/415/250_250_1/415dd0248379a77057a241d7f9882df7.JPG" alt="Product Img")

    .product__offer-carousel
      .product__offer-carousel-container.swiper-container
        .swiper-wrapper
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/4ca/250_250_1/4ca64963203ae885373d614a59064ac4.jpg" alt="Product Img")
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/6d7/250_250_1/6d713b3f27363ef0c36102e21aeaf404.jpg" alt="Product Img")
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/460/250_250_1/46078554d7f334db621b16bcd55b4528.jpg" alt="Product Img")
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/412/250_250_1/41244e533e278e0e8d43ed900f1fc6a7.JPG" alt="Product Img")
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/4ca/250_250_1/4ca64963203ae885373d614a59064ac4.jpg" alt="Product Img")
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/6d7/250_250_1/6d713b3f27363ef0c36102e21aeaf404.jpg" alt="Product Img")
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/460/250_250_1/46078554d7f334db621b16bcd55b4528.jpg" alt="Product Img")
          .swiper-slide
            .product__offer-carousel-img-wrap
              img.product__offer-carousel-img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/412/250_250_1/41244e533e278e0e8d43ed900f1fc6a7.JPG" alt="Product Img")
      .product__offer-carousel-prev
        +icon('chevron-up', 'product__offer-carousel-prev-icon')
      .product__offer-carousel-next
        +icon('chevron-down', 'product__offer-carousel-next-icon')

    a.product__view-btn(href="#" data-modal-win-trigger="249")
      +icon('search', 'product__view-icon')

    ul.product__stickers
      li.product__sticker.product__sticker--hot -25%
    .product__controls
      .product__control 
        a.product__add-favourite(href="#")
          +icon('heart-thin', 'product__add-favourite-icon')
      .product__control 
        a.product__action-compare(href="#")
          +icon('compare-thin', 'product__action-compare-icon')

  .product__body
    .product__title #[a.product__title-link(href="#") BastoM / Кроссовки 12345678]
    dl.product__params
      .product__param
        dt.product__param-property Вид упаковки:
        dd.product__param-value Полиэтиленовая упаковка
      .product__param
        dt.product__param-property Коллекция:
        dd.product__param-value Весна-Лето 2020
      .product__param
        dt.product__param-property Материал стельки:
        dd.product__param-value Текстиль
      .product__param
        dt.product__param-property Материал подошвы:
        dd.product__param-value ПУ (PU, Полиуретан)
      .product__param
        dt.product__param-property Страна изготовителя:
        dd.product__param-value Россия

  footer.product__footer
    .product__meta
      .product__price-main
        .product__price-helper
          small.product__price-helper-caption Розничная цена
          .product__price-helper-tooltip-wrap
            +icon('question', 'product__price-helper-tooltip-icon')
            .product__price-helper-tooltip Цена указана без скидок, узнай оптовую цену после регистрации
        .product__price-wrap
          .product__price 125 000 р.

    a.product__add.btn.btn--primary(href="#" data-modal-win-trigger="add267")
      | Узнать оптовую цену