article.product-line

  header.product-line__header
    a.product__img-wrap(href="#")
      img.product__img.img-responsive(src="https://www.intel.com/content/dam/www/public/us/en/images/photography-consumer/16x9/pc-upgrades/laptops-16x9.png.rendition.intel.web.480.270.png" alt="Product Img")
    a.product__view-btn.btn.btn--primary(href="#" data-modal-win-trigger="856") Быстрый просмотр

  .product-line__body
    .product__title #[a.product__title-link(href="#") Товарный заголовок]
    p.product__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium illum explicabo, dignissimos Laudantium illum explicabo, dignissimos quibusdam.
    dl.product__params
      dt.product__param-property Артикул:
      dd.product__param-value 225-856-kg3
      dt.product__param-property Артикул:
      dd.product__param-value 225-856-kg3

  footer.product-line__footer
    .product__price-wrap
      .product__price 1 003 300 р. #[small.product__old-price 300 000 р.]
      .product__discount
        .product__discount-value -35%
        .product__discount-total Экономия 6 450 р.
    .product__add.btn.btn--primary(data-modal-win-trigger="add856")
      +icon('shopping-cart', 'product__add-icon')
      | Купить
    include ../counter
    .product__controls
      .product__control 
        a.product__fast-buy(href="#") 
          +icon('shopping-cart', 'product__fast-buy-icon')
          | В 1 клик
      .product__control 
        a.product__add-favourite(href="#")
          +icon('heart', 'product__add-favourite-icon')
          | В избранное
      .product__control 
        a.product__action-compare(href="#")
          +icon('compare', 'product__action-compare-icon')
          | Сравнить
      .product__control
        .product__instock
          +icon('tick', 'product__instock-icon')
          | В наличии