article.product
  .product__wrap

    header.product__header
      a.product__img-wrap(href="#")
        img.product__img.img-responsive(src="https://static.svyaznoy.ru/upload/iblock/ba3/ipadpro105-cellular-pure-angles-space-gray-3.jpg/resize/307x224/" alt="Product Img")
      .product__view-btn.btn.btn--main Быстрый просмотр
      ul.product__stickers
        li.product__sticker.product__sticker--new Новинка
        li.product__sticker.product__sticker--hot Акция

    .product__body
      .product__title #[a.product__title-link(href="#") Заголовок товара длинный, более чем в одну строку, прям на все случаи жизни]
      .product__price 125 000 р. #[small.product__old-price 99 000 р.]
      .product__add.btn.btn--main
        +icon('shopping-cart', 'product__add-icon')
        | Купить

    footer.product__footer
      dl.product__params
        dt.product__param-property Артикул:
        dd.product__param-value 225-856-kg3
        dt.product__param-property Вес:
        dd.product__param-value 25 кг.
        dt.product__param-property Количество:
        dd.product__param-value &gt; 55 шт.
      .product__controls
        .product__control 
          a.product__fast-buy(href="#") 
            +icon('shopping-cart', 'product__fast-buy-icon')
            | В 1 клик
        .product__control 
          a.product__add-favourite(href="#")
            +icon('heart', 'product__add-favourite-icon')
            | В избранное
        .product__control 
          a.product__action-compare(href="#")
            +icon('compare', 'product__action-compare-icon')
            | Сравнить
        .product__control
          .product__instock
            +icon('tick', 'product__instock-icon')
            | В наличии