.product-table

  .product__header
    a.product__img-wrap(href="#")
      img.product__img.img-responsive(src="http://bastom-opt.ru/upload/resize_cache/iblock/d2c/250_250_1/d2c558fd83d35c6ebbca1b11759455d7.jpg" alt="Product Img")

    a.product__view-btn(href="#" data-modal-win-trigger="249")
      +icon('search', 'product__view-icon')

    ul.product__stickers
      li.product__sticker.product__sticker--hot -25%
    .product__controls
      .product__control 
        a.product__add-favourite(href="#")
          +icon('heart-thin', 'product__add-favourite-icon')
      .product__control 
        a.product__action-compare(href="#")
          +icon('compare-thin', 'product__action-compare-icon')

  .product__body
    .product__main
      .product__title #[a.product__title-link(href="#") Мокасины 253376]

    .product__meta
      .product__price-main
        .product__price-helper
          small.product__price-helper-caption Розничная цена
          .product__price-helper-tooltip-wrap
            +icon('question', 'product__price-helper-tooltip-icon')
            .product__price-helper-tooltip Цена указана без скидок, узнай оптовую цену после регистрации
        .product__price-wrap
          .product__price 4 200 р.

  .product__footer
    a.product__add.btn.btn--primary(href="#" data-modal-win-trigger="add267")
      | Узнать оптовую цену