article.product-line

  header.product-line__header
    a.product__img-wrap(href="#")
      img.product__img.img-responsive(src="https://static.svyaznoy.ru/upload/iblock/8eb/limited-edition-death-stranding-ps4-pro-product-shot-02-ps4-us-20sep19.jpg/resize/870x725/hq/" alt="Product Img")
    a.product__view-btn.btn.btn--primary(href="#" data-modal-win-trigger="249") Быстрый просмотр

  .product-line__body
    .product__title #[a.product__title-link(href="#") Заголовок товара длинный]
    p.product__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium illum explicabo, dignissimos Laudantium illum explicabo, dignissimos quibusdam.
    dl.product__params
      dt.product__param-property Артикул:
      dd.product__param-value 225-856-kg3

  footer.product-line__footer
    .product__price 3 300 р. #[small.product__old-price 5 000 р.]
    .product__add.btn.btn--primary(data-modal-win-trigger="add249")
      +icon('shopping-cart', 'product__add-icon')
      | Купить
    include ../counter
    .product__controls
      .product__control 
        a.product__fast-buy(href="#") 
          +icon('shopping-cart', 'product__fast-buy-icon')
          | В 1 клик
      .product__control 
        a.product__add-favourite(href="#")
          +icon('heart', 'product__add-favourite-icon')
          | В избранное
      .product__control 
        a.product__action-compare(href="#")
          +icon('compare', 'product__action-compare-icon')
          | Сравнить
      .product__control
        .product__instock
          +icon('tick', 'product__instock-icon')
          | В наличии