.header-utility

  .header-utility__main
    
    a.header-utility__link(href="#")
      .header-utility__link-helper
        +icon('graph-compare', 'header-utility__icon')
        span.header-utility__count 5

    .header-utility__dropdown
      .header-utility__dropdown-header
        .header-utility__dropdown-title Сравнение
        .header-utility__dropdown-close
          +icon('close', 'header-utility__close-icon')
      .header-utility__dropdown-body
        p lorem ipsum dolor sit avet
      .header-utility__dropdown-footer