.header-utility
  .header-utility__main

    a.header-utility__link(href="#")
      .header-utility__link-helper
        +icon('eye', 'header-utility__icon')
    
    .header-utility__dropdown
      .header-utility__dropdown-header
        .header-utility__dropdown-title Просмотренные товары
        .header-utility__dropdown-close
          +icon('close', 'header-utility__close-icon')
      .header-utility__dropdown-body
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, iure, esse.
      .header-utility__dropdown-footer