.header-utility
  .header-utility__main

    a.header-utility__link(href="#")
      .header-utility__link-helper
        +icon('shopping-cart', 'header-utility__icon')
        span.header-utility__count 17
      .header-utility__desc Сумма
        span.header-utility__price 20 000 000 руб
    
    .header-utility__dropdown
      .header-utility__dropdown-header
        .header-utility__dropdown-title Корзина
        .header-utility__dropdown-close
          +icon('close', 'header-utility__close-icon')
      .header-utility__dropdown-body
        include ../dropdown-basket-list

      .header-utility__dropdown-footer
        a.btn.btn--primary(href="#") Перейти в корзину