ul.breadcrumbs
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Главная
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Автохимия
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Система топливная
  li.breadcrumbs__item Присадки к бензину