ul.breadcrumbs
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#")
      +icon('home', 'breadcrumbs__link-icon')
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Раздел
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Подраздел
  li.breadcrumbs__item Пришли к сути