.category-nav.d-none.d-md-block
  
  .category-nav__title.h3 Категории
  
  ul.category-nav__list
    li.category-nav__item
      a.category-nav__link(href="#") Оргтехника #[small.category-nav__amount 11]
    li.category-nav__item
      a.category-nav__link(href="#") Ноутбуки #[small.category-nav__amount 211]
    li.category-nav__item.active
      a.category-nav__link(href="#") Планшеты #[small.category-nav__amount 181]
    li.category-nav__item
      a.category-nav__link(href="#") Газонокосилки #[small.category-nav__amount 5]
    li.category-nav__item
      a.category-nav__link(href="#") Бытовая техника #[small.category-nav__amount 534]
    li.category-nav__item
      a.category-nav__link(href="#") Осветительная техника #[small.category-nav__amount 3]
    li.category-nav__item
      a.category-nav__link(href="#") Разное #[small.category-nav__amount 112]