.category-nav.d-none.d-md-block
  
  .category-nav__title.h3 Категории
  
  ul.category-nav__list
    li.category-nav__item
      a.category-nav__link(href="#") Оргтехника #[small.category-nav__amount 11]
    li.category-nav__item
      a.category-nav__link(href="#") Ноутбуки #[small.category-nav__amount 211]
      ul.category-nav__sublist
        li.category-nav__subitem
          a.category-nav__sublink(href="#") Samsung
        li.category-nav__subitem
          a.category-nav__sublink(href="#") Lenovo
        li.category-nav__subitem
          a.category-nav__sublink(href="#") iOS
        li.category-nav__subitem
          a.category-nav__sublink(href="#") Acer
        li.category-nav__subitem
          a.category-nav__sublink(href="#") Asus
    li.category-nav__item.active
      a.category-nav__link(href="#") Планшеты #[small.category-nav__amount 181]
    li.category-nav__item
      a.category-nav__link(href="#") Газонокосилки #[small.category-nav__amount 5]
    li.category-nav__item
      a.category-nav__link(href="#") Бытовая техника #[small.category-nav__amount 534]
      ul.category-nav__sublist
        li.category-nav__subitem
          a.category-nav__sublink(href="#") Холодильники
        li.category-nav__subitem
          a.category-nav__sublink(href="#") Кофеварки
        li.category-nav__subitem
          a.category-nav__sublink(href="#") Газонокосилки
        li.category-nav__subitem
          a.category-nav__sublink(href="#") Вытяжки
    li.category-nav__item
      a.category-nav__link(href="#") Осветительная техника #[small.category-nav__amount 3]
    li.category-nav__item
      a.category-nav__link(href="#") Разное #[small.category-nav__amount 112]