.choose-location
  select.js-select-autocomplete
    optgroup(label="Россия")
      option(value="Moscow") Москва
      option(value="Saint Peterburg") Санкт-Петербург
      option(value="Omsk") Омск
      option(value="Krasnodar") Краснодар
    optgroup(label="Украина")
      option(value="Odessa") Одесса
      option(value="Lviv") Львов
      option(value="Kiev") Киев
    optgroup(label="Белоруссия")
      option(value="Minsk") Минск
      option(value="Brest") Брест