table.dropdown-products
  tbody.dropdown-products__tbody
    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-6.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#") 
          span.dropdown-products__title-text Встраиваемая посудомоечная машина DeLonghi DDW06F Cristallo ultimo
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-base 29 691 ₽ #[strong x 3]
          span.dropdown-products__price-total 89 073 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')
    
    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-4.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#") 
          span.dropdown-products__title-text Встраиваемая посудомоечная машина DeLonghi DDW06F Cristallo ultimo
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-base 429 691 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')

    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-1.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#") 
          span.dropdown-products__title-text Встраиваемая машина
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-total 189 073 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')
    
    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-5.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#") 
          span.dropdown-products__title-text Встраиваемая посудомоечная машин
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-base 29 691 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')
    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-6.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#") 
          span.dropdown-products__title-text DDW06F Cristallo ultimo
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-base 5 129 691 ₽ #[strong x 3]
          span.dropdown-products__price-total 89 073 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')
    
    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-7.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#") 
          span.dropdown-products__title-text DeLonghi DDW06F Cristallo ultimo
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-base 429 691 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')

    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-6.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#") 
          span.dropdown-products__title-text Встраиваемая посудомоечная машина DeLonghi DDW06F Cristallo ultimo
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-base 29 691 ₽ #[strong x 3]
          span.dropdown-products__price-total 89 073 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')
    
    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-4.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#") 
          span.dropdown-products__title-text Встраиваемая посудомоечная машина DeLonghi DDW06F Cristallo ultimo
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-base 429 691 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')

    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-1.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#") 
          span.dropdown-products__title-text Встраиваемая машина
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-total 189 073 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')
    
    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-5.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#")
          span.dropdown-products__title-text Встраиваемая посудомоечная машин
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-base 29 691 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')

    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-6.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#")
          span.dropdown-products__title-text DDW06F Cristallo ultimo
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-base 5 129 691 ₽ #[strong x 3]
          span.dropdown-products__price-total 89 073 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')
    
    tr.dropdown-products__tr
      td.dropdown-products__td
        a.dropdown-products__img-wrap(href="#")
          img.dropdown-products__img.img-responsive(src="assets/images/media/product-main-promo-slider-7.jpeg" alt="Product")
      td.dropdown-products__td
        a.dropdown-products__title(href="#")
          span.dropdown-products__title-text DeLonghi DDW06F Cristallo ultimo
      td.dropdown-products__td
        div.dropdown-products__price
          span.dropdown-products__price-base 429 691 ₽
      td.dropdown-products__td
        a.dropdown-products__remove(href="#")
          +icon('close', 'dropdown-products__remove-icon')