.footer-collapse
  .footer-collapse__title Заголовок
    +icon('chevron-down', 'footer-collapse__title-icon')
  .footer-collapse__body
    .footer-collapse_nav
      .footer-collapse__list
        .footer-collapse__item
          a(href="#").footer-collapse__link О нас
        .footer-collapse__item
          a(href="#").footer-collapse__link Компания
        .footer-collapse__item
          a(href="#").footer-collapse__link Портфолио
        .footer-collapse__item
          a(href="#").footer-collapse__link Отзывы
        .footer-collapse__item
          a(href="#").footer-collapse__link Контакты
        .footer-collapse__item
          a(href="#").footer-collapse__link Задать вопрос