.footer-collapse
  .footer-collapse__title Компания
    +icon('chevron-down', 'footer-collapse__title-icon')
  .footer-collapse__body

    div.logo
      span.logo-wrap
        img.logo__img.img-responsive(src="http://dinoricci-opt.ru/bitrix/templates/addeo/img/footer-logo.png" alt="Logo")

    p.footer-about Dino Ricci – интернет-магазин обуви и сумок для оптовых клиентов

    div.footer-contacts
      a.footer-contacts__tel(href="tel:+495111111") 
        +icon('phone-call', 'footer-contacts__tel-icon')
        | + (495)-111-11-11
      div.footer-contacts__request-wrap
        a.footer-contacts__request.btn.btn--reverse(href="#" data-modal-win-trigger="callback") Заказать звонок

    include soc