div.header-contacts
  a.header-contacts__tel(href="tel:+495111111") 
    +icon('phone-call', 'header-contacts__tel-icon')
    | + (495)-111-11-11
  div.header-contacts__request-wrap
    a.header-contacts__request.btn.btn--primary(href="#" data-modal-win-trigger="callback") Заказать звонок