div.header-contacts
  a.header-contacts__tel(href="tel:+74951184294") 
    +icon('phone-call', 'header-contacts__tel-icon')
    span +7 (495)-118-42-94
  div.header-contacts__request-wrap
    a.header-contacts__request(href="#" data-modal-win-trigger="callback") Заказать звонок