div.header-contacts
  div.header-contacts__separate
    a.header-contacts__tel(href="#") 
      +icon('phone-call', 'header-contacts__phone')
      span.header-contacts__phone + 111-11-11
  div.header-contacts__separate
    a.header-contacts__request.btn.btn--main.btn--sm(data-modal-win-trigger="callback") Заказать звонок