.product-main-info

  .product-main-info__preview
    .product-main-info__brand
      a.product-main-info__brand-link(href="#")
        img.product-main-info__brand-img.img-responsive(src="assets/images/content/samsung.png")
    .product-main-info__review
      .product-main-info__review-rate.product-main-info__review-rate--good 4.5
      a.product-main-info__review-rate-opinions(href="#") 150 отзывов

  span.product-main-info__articul Артикул: SVN 555-355-65h

  .product-main-info__about
    .product-main-info__heading Описание товара:
    p.product-main-info__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vitae aliquid ex necessitatibus repellat a illo fuga dolore aperiam, totam tempore nisi neque delectus labore!

  .product-main-info__params
    .product-main-info__heading Характеристики:
    .manual-params
      dl.manual-params__param
        dt.manual-params__value #[span.manual-params__text Коллекция продукции]
        dd.manual-params__property #[span.manual-params__text Процессоры Intel Core i7]
      dl.manual-params__param
        dt.manual-params__value #[span.manual-params__text Кодовое название]
        dd.manual-params__property #[span.manual-params__text Coffee Lake]
      dl.manual-params__param
        dt.manual-params__value #[span.manual-params__text Количество ядер]
        dd.manual-params__property #[span.manual-params__text 8]
      dl.manual-params__param
        dt.manual-params__value #[span.manual-params__text Тактовая частота]
        dd.manual-params__property #[span.manual-params__text 3,60 GHz]
    a.product-main-info__full-params(href="#section-2") 
      +icon('chevron-down', 'product-main-info__full-params-icon')
      | Все характеристики