.product-main-promo

  .product-main-promo__main
    
    ul.product__stickers
      li.product__sticker.product__sticker--new Новинка
      li.product__sticker.product__sticker--hot Акция

    .js-promo-main.swiper-container
      .swiper-wrapper

        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-1.jpeg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-1.jpeg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-1.jpeg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-7.jpeg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-7.jpeg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-7.jpeg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-6.jpeg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-6.jpeg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-6.jpeg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-4.jpeg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-4.jpeg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-4.jpeg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-5.jpeg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-5.jpeg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-5.jpeg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-2.jpeg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-2.jpeg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-2.jpeg")
        .swiper-slide
          a.product-main-promo__img-wrap(href="assets/images/content/product-main-promo-zoom-3.jpeg")
            img.product-main-promo__img.img-responsive(src="assets/images/content/product-main-promo-slider-3.jpeg" alt="Product" data-zoom="assets/images/content/product-main-promo-zoom-3.jpeg")

    .product-main-promo__pagination

    //- .product-main-promo__prev
    //-   +icon('chevron-left', 'product-main-promo__move-icon')
    //- .product-main-promo__next
    //-   +icon('chevron-right', 'product-main-promo__move-icon')
  .product-main-promo__thumbs
    .js-thumbs-list.swiper-container
      .swiper-wrapper

        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-1.jpeg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-7.jpeg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-6.jpeg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-4.jpeg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-5.jpeg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-2.jpeg" alt="Product Thumb")
        .swiper-slide
          span.product-main-promo__thumb
            img.product-main-promo__thumb-img.img-responsive(src="assets/images/content/product-main-promo-thumb-3.jpeg" alt="Product Thumb")

    .product-main-promo__th-prev
      +icon('chevron-up', 'product-main-promo__th-prev-icon')
    .product-main-promo__th-next
      +icon('chevron-down', 'product-main-promo__th-next-icon')

  .product-main-promo__zoom-pane