.manual-params
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Коллекция продукции]
    dd.manual-params__property #[span.manual-params__text Процессоры Intel Core i7 9-го поколения]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Кодовое название]
    dd.manual-params__property #[span.manual-params__text Продукция с прежним кодовым названием Coffee Lake]
  dl.manual-params__param.manual-params__param--section
    dt.manual-params__value #[b.manual-params__text Условия]
    dd.manual-params__property #[span.manual-params__text Базовые понятий]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Вертикальный сегмент]
    dd.manual-params__property #[span.manual-params__text Desktop]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Процессор Номер]
    dd.manual-params__property #[span.manual-params__text i7-9700K]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Литография]
    dd.manual-params__property #[span.manual-params__text 14 nm]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Входящие в комплектацию элементы]
    dd.manual-params__property #[span.manual-params__text Всякие штуки]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Количество ядер]
    dd.manual-params__property #[span.manual-params__text 8]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Базовая тактовая частота процессора]
    dd.manual-params__property #[span.manual-params__text 3,60 GHz]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Кэш-память]
    dd.manual-params__property #[span.manual-params__text 12 MB SmartCache]
  dl.manual-params__param.manual-params__param--section
    dt.manual-params__value #[b.manual-params__text Дополнительная информая]
    dd.manual-params__property #[span.manual-params__text Всякие детали]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Расчетная мощность]
    dd.manual-params__property #[span.manual-params__text 95 W]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Доступные варианты для встраиваемых систем]
    dd.manual-params__property #[span.manual-params__text Нет]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Макс. пропускная способность памяти]
    dd.manual-params__property #[span.manual-params__text 41.6 GB/s]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Поддержка памяти ECC]
    dd.manual-params__property #[span.manual-params__text Нет]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Встроенная в процессор графика ]
    dd.manual-params__property #[span.manual-params__text Графическое решение Intel UHD 630]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Макс. объем видеопамяти графической системы]
    dd.manual-params__property #[span.manual-params__text 64 GB]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Масштабируемость]
    dd.manual-params__property #[span.manual-params__text 1S Only]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Конфигурации PCI Express]
    dd.manual-params__property #[span.manual-params__text 16]
  dl.manual-params__param
    dt.manual-params__value #[span.manual-params__text Спецификации системы охлаждения]
    dd.manual-params__property #[span.manual-params__text PCG 2015D]