ul.docs-list
  li.docs-list__item
    a.docs-list__link(href="filename.pdf" download) Какой-то pdf файл
  li.docs-list__item
    a.docs-list__link(href="filename.xls" download) Какой-то excel файл
  li.docs-list__item
    a.docs-list__link(href="filename.doc" download) Какой-то word файл
  li.docs-list__item
    a.docs-list__link(href="filename.txt" download) Какой-то другой файл
  li.docs-list__item
    a.docs-list__link(href="filename.xls" download) Еще какой-то excel файл
  li.docs-list__item
    a.docs-list__link(href="filename.docx" download) Еще какой-то word файл
  li.docs-list__item
    a.docs-list__link(href="filename.txt" download) Какой-то другой файл
  li.docs-list__item
    a.docs-list__link(href="filename.pdf" download) Какой-то pdf файл
