form.search-form(action="/" method="GET" name="search-form")
  input.search-form__input(type="text" name="search-query" placeholder="Поиск услуг")
  button.search-form__submit(type="submit" name="send-query")
    +icon('search', 'search-form__icon')