.select-lang
  select.js-select-default
    option(value="Ru") Русский
    option(value="En") Английский
    option(value="Du") Немецкий
    option(value="Fr") Французский
    option(value="Sp") Испанский