ul.soc
  li.soc__item
    a(href="#").soc__link
      +icon('facebook-f', 'soc__icon')
  li.soc__item
    a(href="#").soc__link
      +icon('twitter', 'soc__icon')
  li.soc__item
    a(href="#").soc__link
      +icon('vk', 'soc__icon')
  li.soc__item
    a(href="#").soc__link
      +icon('google', 'soc__icon')
  li.soc__item
    a(href="#").soc__link
      +icon('youtube', 'soc__icon')
  li.soc__item
    a(href="#").soc__link
      +icon('odnoklassniki', 'soc__icon')