ul.soc
  li.soc__item
    a(href="#").soc__link.soc__link--fb
      +icon('fb', 'soc__icon')
  li.soc__item
    a(href="#").soc__link.soc__link--whatsapp
      +icon('whatsapp', 'soc__icon')
  li.soc__item
    a(href="#").soc__link.soc__link--skype
      +icon('skype', 'soc__icon')
  li.soc__item
    a(href="#").soc__link.soc__link--viber
      +icon('viber', 'soc__icon')
  //- li.soc__item
  //-   a(href="#").soc__link.soc__link--tw
  //-     +icon('twitter', 'soc__icon')
  //- li.soc__item
  //-   a(href="#").soc__link.soc__link--vk
  //-     +icon('vk', 'soc__icon')
  //- li.soc__item
  //-   a(href="#").soc__link.soc__link--gg
  //-     +icon('google', 'soc__icon')
  //- li.soc__item
  //-   a(href="#").soc__link.soc__link--yt
  //-     +icon('youtube', 'soc__icon')
  //- li.soc__item
  //-   a(href="#").soc__link.soc__link--ok
  //-     +icon('odnoklassniki', 'soc__icon')