nav.top-header-nav

  button.top-header-nav__toggle.js-dropdown-toggle
    +icon('menu-dots', 'top-header-nav__toggle-icon')

  ul.top-header-nav__list
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Помощь]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Советы]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Новости]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Частые вопросы]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Клиенты]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text С кем работаем]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Контакты]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Вопросы?]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text О нас]

  ul.top-header-nav__dropdown