.price-range

  .price-range__values
    .price-range__field
      input.price-range__input(id="input-number-a")
    .price-range__separator -
    .price-range__field
      input.price-range__input(id="input-number-b")

  .price-range__slider(id="price-range")