ul.view-mode.d-none.d-md-block
  li.view-mode__item.active
    a.view-mode__link(href="#")
      +icon('th', 'view-mode__icon')
  li.view-mode__item
    a.view-mode__link(href="#")
      +icon('th-list', 'view-mode__icon')