extends templates/main

block variables
  - let title = 'Карта товара';
  - let pageClass = 'card-page';

block content

  include layouts/headers/header-inner
  include components/navbars/main-nav

  .container-fluid
    include components/breadcrumbs
    
    .product-main-header
      h1.product-heading Заголовок товара длинный
      ul.product-tools
        li.product-tools__item
          a.product-tools__share(href="#")
            +icon('share-thin', 'product-tools__share-icon')
          .product-tools__tooltip
            .product-tools__tooltip-title Поделиться:
            include components/soc
        li.product-tools__item
          a.product-tools__wish(href="#")
            +icon('heart-thin', 'product-tools__wish-icon')
          .product-tools__tooltip Добавить в сравнение
        li.product-tools__item
          a.product-tools__compare(href="#")
            +icon('compare-thin', 'product-tools__compare-icon')
          .product-tools__tooltip Добавить в избранное

    include layouts/product-main

    .row
      .col-md-9
        include layouts/product-main-tabs
      .col-md-3
        // vertical-carousel
        .vertical-carousel-wrap.d-none.d-md-block
          .swiper-container.vertical-carousel.js-vertical-carousel
            .swiper-wrapper
              .swiper-slide
                include components/products/product-1
              .swiper-slide
                include components/products/product-2
              .swiper-slide
                include components/products/product-3
              .swiper-slide
                include components/products/product-4
          .vertical-carousel__th-prev
            +icon('chevron-up', 'vertical-carousel__th-prev-icon')
          .vertical-carousel__th-next
            +icon('chevron-down', 'vertical-carousel__th-next-icon')
        // /vertical-carousel
    
    .h2 Похожие товары
    include layouts/carousels/items-carousel-2

  include layouts/footers/footer