extends templates/inner

block variables
  - let title = 'Каталог';
  - let pageClass = 'catalog-page';
  - let pageHeading = 'Каталог товаров';
  - let breadcrumbs = true;

block sidebar
  include components/category-nav
  include components/filter

block main
  h1.main-title #{pageHeading}
  include layouts/catalog-header-controls
  include layouts/catalog-list-table
  include components/pagination

block footer
  include layouts/footers/footer