extends templates/inner

block variables
  - let title = 'Каталог';
  - let pageClass = 'catalog-page';
  - let pageHeading = 'Каталог товаров';

block header
  include layouts/header-inner

block sidebar
  include components/category-nav
  include components/filter

block main
  h1.main-title #{pageHeading}
  include layouts/catalog-header-controls
  include layouts/catalog-list-main
  include components/pagination

block footer
  include layouts/footer
  
  //- Product Modals Fast View
  include components/modal-wins/product-card-modal-1
  include components/modal-wins/product-card-modal-2
  include components/modal-wins/product-card-modal-3
  include components/modal-wins/product-card-modal-4
  
  //- Product Modals Added
  include components/modal-wins/product-add-modal-1
  include components/modal-wins/product-add-modal-2
  include components/modal-wins/product-add-modal-3
  include components/modal-wins/product-add-modal-4