extends templates/main

block variables
  - let title = 'Главная страница';
  - let pageClass = 'index-page';

block content

  include layouts/headers/shoes-header
  include components/navbars/shoes-main-nav

  include layouts/carousels/promo-carousel

  .container-fluid
    include layouts/items-section/items-section-2
    include layouts/news-section
    include layouts/items-section/items-section-1

  include layouts/footers/shoes-footer