extends templates/main

block variables
  - let title = 'Главная страница';
  - let pageClass = 'index-page';

block content

  include layouts/headers/shoes-header
  include components/navbars/main-nav-2

  .container-fluid
    include layouts/carousels/promo-carousel-offset
    include layouts/news-section

  include layouts/footers/shoes-footer