extends templates/main

block variables
  - let title = 'Главная страница';
  - let pageClass = 'index-page';

block content

  include layouts/headers/ligabt-header
  include components/navbars/main-nav-3

  include layouts/carousels/promo-carousel

  .container-fluid
    include layouts/news-section
    include layouts/service-cards-section
    include layouts/items-section/items-section-2

  include layouts/footers/footer