extends templates/main

block variables
  - let title = 'Список страниц';

block content

  .h1 Список страниц

  .h2 Главные

  ul
    li #[a(href="/index.html" target="_blank") Первый вид главной]
    li #[a(href="/index-2.html" target="_blank") Второй вид главной]
    li #[a(href="/index-3.html" target="_blank") Третий вид главной]

  .h2 Каталожные

  ul
    li #[a(href="/catalog.html" target="_blank") Основной каталог]
    li #[a(href="/catalog-list.html" target="_blank") Линейный каталог]
    li #[a(href="/catalog-table.html" target="_blank") Табличный каталог]

  .h2 Карта товара

  ul
    li #[a(href="/card.html" target="_blank") Основной вид карты товара]