extends templates/main

block variables
  - let title = 'Страница поста';
  - let pageClass = 'index-page';

block content

  include layouts/headers/header-inner
  include components/navbars/main-nav

  .container-fluid
    include components/breadcrumbs

    include layouts/ui-post
    
  include layouts/footers/footer