.header-top-area

  .container-fluid

    .header-top-area__main
      include ../../components/navbars/shoes-top-header-nav

      div.header-contacts
        a.header-contacts__tel(href="tel:+495111111") 
          +icon('phone-call', 'header-contacts__tel-icon')
          | + (495)-111-11-11
      
      .auth
        a.auth__toggle.d-md-none(href="#")
          +icon('user', 'auth__toggle-icon')
        ul.auth__list.d-none.d-md-block
          li.auth__item
            a.auth__link(href="#")
              +icon('user', 'auth__link-icon')
              | Вход
          li.auth__item
            a.auth__link(href="#") Регистрация

.container-fluid

  header.header

    button.main-nav-trigger
      +icon('menu', 'main-nav-trigger-icon')

    include ../../components/logo

    .header__search-form
      include ../../components/search-form

    .header-utilities
      include ../../components/header-utility/header-utility-0
      include ../../components/header-utility/header-utility-5
      include ../../components/header-utility/header-utility-3
      include ../../components/header-utility/header-utility-4