.footer {
  margin-top: 3rem;
  color: $footer-text-color;
  border-top: 1px solid #ececec;

  @media (min-width: $sm) {
    margin-top: 5rem;
  }

  @media (min-width: $md) {
    margin-top: 6rem;
    padding: 4rem 0 0;
  }

  @media (min-width: $lg) {
    margin-top: 8rem;
  }

  &__main {
    @media (min-width: $md) {
      padding-bottom: 4rem;
    }
  }

  &__bottom {
    color: #4b4b4b;
    font-size: 1.4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: #ececec;
    text-align: center;
    
    @media (min-width: $md) {
      text-align: left;
    }

    .copy {
      font-size: 1.4rem;
    }
  }

  &__callback {
    color: $font-base-color;
    border-bottom: 1px dotted;
    transition: all .3s;
    font-size: 1.2rem;

    &:hover {
      border-bottom-color: transparent;
    }
  }
  
  @media (min-width: $md) {
    .footer-collapse {
      &:not(:first-child) {
        margin-top: 4rem;
      }
    }
  }
}

.footer-contacts {
  margin-bottom: 1.5rem;

  &__phone {
    color: #4b4b4b;
    font-size: 1.6rem;
    transition: all .3s;

    &:hover {
      color: $primary-color;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__icon {
    fill: $primary-color;
  }
}