.footer {
  background: $footer-bg;
  margin-top: 3rem;
  color: $footer-text-color;

  @media (min-width: $sm) {
    margin-top: 5rem;
  }

  @media (min-width: $md) {
    margin-top: 6rem;
    padding: 4rem 0 2rem;
  }

  @media (min-width: $lg) {
    margin-top: 8rem;
  }

  &__main {
    @media (min-width: $md) {
      padding-bottom: 4rem;
      border-bottom: 1px solid $footer-border-color;
    }
  }

  &__bottom {
    color: $gray;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    @media (min-width: $md) {
      padding-bottom: 0;
    }
  }

  .logo {
    margin: 0 auto 1rem;
  }

  .footer-collapse__body {
    .footer-about {
      margin-bottom: 2rem;
      font-size: 1.4rem;
    }

    .logo {
      margin: 0 0 2rem;
    }

    .footer-contacts__tel {
      color: $gray--medium;

      &-icon {
        fill: $gray--medium;
        margin: -3px 1rem 0 0;
      }
    }

    .footer-contacts__request-wrap {
      margin: 2rem 0 0;
    }

    .footer-contacts__request {
      font-size: 1.4rem;
      padding: .5rem 1rem;
    }

    .footer-contacts {
      margin-bottom: 2rem;
    }
  }

  .soc {
    margin-bottom: 2rem;
  }
}