/* Header Top Area */
.header-top-area {
  background: $header-top-area-bg;
  //border-bottom: 1px solid $gray;

  &__main {
    display: flex;
    min-height: 3rem;
  }

  .top-header-nav {
    flex: auto;
  }
}
/* Header Top Area */

/* Header Main Area */
.header {
  $self: &;

  border-bottom: 1px solid #ddd;

  &__main {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 -1rem;

    @media (min-width: $md) {
      justify-content: space-between;
    }

    > * {
      padding: 0 1.5rem;
    }
  }

  .logo {
    img {
      max-height: 4rem;

      @media (min-width: $md) {
        max-height: 6rem;
      }
    }

    @media (max-width: $sm--mw) {
      padding: 0;
    }
  }

  &__company-motto {
    line-height: 1.1;

    &-desc {
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }

  &__search-form {
    flex: auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 3;
    background: $white;
    padding: 1.5rem 1rem;
    border-top: 1px solid $gray--medium;
    border-bottom: 1px solid $gray--medium;
    box-shadow: 0 .5rem 1rem rgba($black, .1);
    display: none;

    #{$self}.is-searchbar-opened & {
      display: block;
    }
  }
}
/* Header Main Area */