/* Header Top Area */
.header-top-area {
  background: $header-top-area-bg;
  border-bottom: 1px solid $gray;

  &__main {
    display: flex;
  }

  .top-header-nav {
    flex: auto;
  }
}
/* Header Top Area */

/* Header Main Area */
.header {
  $self: &;

  display: flex;
  align-items: center;
  margin: 0 -1rem;
  position: relative;

  > * {
    padding: 0 1.5rem;
  }

  .logo {
    @media (max-width: $sm) {
      display: none;
    }
  }

  &__company-motto {
    max-width: 16rem;
    flex-basis: 16rem;

    &-desc {
      font-size: 1.4rem;
    }
  }

  &__search-form {
    flex: auto;

    @media (max-width: $md--mw) {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 3;
      background: $white;
      padding: 1.5rem 1rem;
      border-top: 1px solid $gray--medium;
      border-bottom: 1px solid $gray--medium;
      box-shadow: 0 .5rem 1rem rgba($black, .1);
      display: none;

      #{$self}.is-searchbar-opened & {
        display: block;
      }
    }
  }

  &__header-contacts {
    padding: 1rem 0;
  }

  .btn {
    font-size: 1.4rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    white-space: nowrap;
  }
}
/* Header Main Area */