/* Header Top Area */
.header-top-area {
  background: $gray;
  border-bottom: 1px solid $gray--medium;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    position: relative;

    > * {
      flex-basis: 33.333%;
      max-width: 33.333%;
    }

    @media (min-width: $md) {
      padding: 0;
    }
  }

  .top-header-nav {
    
  }

  .header-contacts {
    text-align: center;

    @media (max-width: 479px) {
      flex-basis: auto;
      max-width: 100%;

      @include absolute-horizontal;
    }

    &__tel {
      font-weight: 300;

      &-icon {
        position: relative;
        top: -2px;
      }
    }
  }

  .auth {
    text-align: right;

    &__toggle {
      &-icon {
        fill: $dark;
        @include size(2rem);
      }
    }

    &__list {}

    &__item {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      padding-right: .7rem;

      &:not(:first-child) {
        padding-left: 1rem;

        &::before {
          content: "";
          width: 0;
          height: 50%;
          border-left: 1px solid $dark;

          @include absolute-vertical;
        }
      }
    }

    &__link {
      color: $dark;
      font-size: 1.4rem;
      transition: all .3s;

      &:hover {
        color: $primary-color;
      }

      &-icon {
        fill: $dark;
        margin: 0 .7rem 0 0;
        position: relative;
        top: -1px;

        @include size(1.25rem);
      }
    }
  }
}
/* Header Top Area */

/* Header Main Area */
.header {
  $self: &;

  display: flex;
  align-items: center;
  margin: 0 -1rem;
  position: relative;
  justify-content: space-between;

  > * {
    padding: 0 1.5rem;
  }

  .logo {
    @media (max-width: $sm) {
      display: none;
    }
  }

  &__company-motto {
    max-width: 16rem;
    flex-basis: 16rem;

    &-desc {
      font-size: 1.2rem;
    }
  }

  &__search-form {
    flex: auto;
    max-width: 40rem;

    @media (max-width: $md--mw) {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 3;
      background: $white;
      padding: 1.5rem 1rem;
      border-top: 1px solid $gray--medium;
      border-bottom: 1px solid $gray--medium;
      box-shadow: 0 .5rem 1rem rgba($black, .1);
      display: none;
      max-width: 100%;

      #{$self}.is-searchbar-opened & {
        display: block;
      }
    }
  }

  &__header-contacts {
    padding: 1rem 0;
  }

  .btn {
    font-size: 1.4rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    white-space: nowrap;
  }
}
/* Header Main Area */