.items-carousel-wrap {
  position: relative;
  padding: 0 3.5rem;

  &--no-gutter {
    padding: 0;

    .default-carousel-prev,
    .default-carousel-next {
      background: $white;
      width: 4rem;
      height: 6rem;
      border: 1px solid $gray--medium;
      border-radius: 3px;

      &__icon {
        @include absolute-center;

        &:hover {
          fill: $primary-color;
        }
      }
    }

    .default-carousel-prev {
      left: 1rem;
    }

    .default-carousel-next {
      right: 1rem;
    }
  }
}

.items-carousel {
  visibility: hidden;
  opacity: 0;
  transition: all .3s;

  &.swiper-container-initialized {
    opacity: 1;
    visibility: visible;
  }
}

.default-pagination {
  text-align: center;
  margin-top: 2rem;

  .swiper-pagination-bullet {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 .5rem;
    display: inline-block;
    border: .3rem solid $gray;
    background: $white;
    transition: all .3s;
    outline: none;
    z-index: 3;
  }

  .swiper-pagination-bullet-active {
    background: $gray;
    cursor: default;
  }
}

.default-carousel {
  &-prev,
  &-next {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    outline: none;
    margin-top: -3.5rem;
    z-index: 3;

    &__icon {
      fill: $dark--medium;
      width: 3rem;
      height: 3rem;
      transition: all .3s;
    }
  }

  &-prev {
    left: 0;
  }

  &-next {
    right: 0;
  }
}

.items-carousel {
  .product {
    height: auto;
  }

  .swiper-slide:not(.swiper-slide-active) .product {
    margin-left: -1px;
  }
}

// BLAME
.items-carousel-wrap--cut .product {
  height: 34.7rem;

  &:hover {
    height: 34.7rem;
  }

  @media (min-width: $md) {
    height: 28.5rem;

    &:hover {
      height: 28.5rem;
    }
  }

  .product__wrap {
    height: 100%;
    overflow: hidden;
  }
}
// BLAME