.tabs {
  $self: &;

  /* Tabs Items */
  &__header {
    display: none;

    @media (min-width: $md) {
      display: block;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
  }

  &__container {}

  &__item {
    font-size: 1.4rem;
    font-weight: 600;

    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  &__link {
    color: $dark--medium;
    display: block;
    background: $gray--light;
    padding: 1.5rem 2rem;
    border: 1px solid $gray--medium;
    border-bottom: none;
    cursor: pointer;
    position: relative;
    height: 100%;
    transition: all .3s;
    border-radius: .7rem .7rem 0 0;

    &::before {
      content: "";
      position: absolute;
      left: 1px;
      right: 1px;
      background: transparent;
      height: 6px;
      bottom: -3px;
      transition: all .3s;
    }

    &:hover {
      background: $white;
      color: $black;
      text-decoration: none;

      &::before {
        background: $white;
      }
    }

    &.is-active {
      background: $white;
      cursor: default;
      color: $black;

      &::after {
        content: "";
        position: absolute;
        left: 1.5rem;
        right: 1.5rem;
        background: $primary-color;
        height: 3px;
        bottom: 0;
      }

      &::before {
        background: $white;
      }
    }
  }
  /* Tabs Items */

  /* Tabs Body */
  &__panes {
    @media (min-width: $md) {
      border-top: 1px solid $gray;
    }
  }

  &__tab-pane {
    @media (min-width: $md) {
      padding: 2rem 0;
      display: none;

      &.is-active {
        display: block;
      }
    }
  }
  /* Tabs Body */

  /* Tab Accordeon */
  &__accordeon-toggle {
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
    background: $gray--light;
    color: $dark--medium;
    border-top: 1px solid $gray--medium;
    padding: 1.5rem;
    margin: 0 -15px;
    cursor: pointer;

    #{$self}__tab-pane:last-child & {
      border-bottom: 1px solid $gray--medium;
    }

    @media (min-width: $md) {
      display: none;
    }

    &::after {
      content: "\f078";
      font-family: fa;
      font-size: 1.6rem;
      float: right;
      color: $primary-color;
      transition: all .3s;
    }

    #{$self}__tab-pane.is-opened & {
      background: $white;
      border-bottom: none;
      color: $black;
    }

    #{$self}__tab-pane.is-opened &::after {
      transform: rotate(180deg);
    }

    #{$self}__tab-pane.is-opened &::before {
      content: "";
      width: 5.5rem;
      position: absolute;
      bottom: 0;
      height: 3px;
      background: $primary-color;
    }
  }

  &__accordeon-body {
    @media (max-width: $md--mw) {
      padding: 2rem 0;
      display: none;
    }

    #{$self}__tab-pane.is-opened & {
      display: block;
    }
  }
  /* Tab Accordeon */

  &__amount {
    font-weight: 400;
    color: $gray;
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
  }
}