article.item
  a.item__img-wrap(href="#")
    img.item__img.img-responsive(src="https://dummyimage.com/240x480/cccccc/fff.jpg&text=240x480+[Extra+Long]" alt="Product")
  .item__title
    a.item__title-link(href="#") Заголовок товара имеет две строки
  .item__articul 250-654-846
  .item__price
    .item__price-old 4 555 777 руб.
    .item__price-current 3 255 000 руб
  .item__footer
    include ../counter
    a.item__add.btn.btn--main(href="#") Добавить