article.news
  a(href="#").news__img-wrap
    img(src="https://dummyimage.com/350x350/cccccc/fff.jpg" alt="News Title").news__img.img-responsive
  .news__body
    time(datetime="2019-12-25").news__date #[+icon('calendar-alt', 'news__date-icon')] 25.12.2019
    .news__title #[a(href="#").news__title-link Заголовок]
    p.news__excerpt #[a(href="#").news__excerpt-link Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati eligendi asperiores, quas rerum ullam, aliquid!]
    a(href="#").news__more Подробнее