article.news
  a(href="#").news__img-wrap
    img(src="assets/images/media/news-2.png" alt="News Title").news__img.img-responsive
  .news__body
    time(datetime="2019-03-11").news__date #[+icon('calendar-alt', 'news__date-icon')] 11.03.2019
    .news__title #[a(href="#").news__title-link Заголовок новости]
    p.news__excerpt #[a(href="#").news__excerpt-link  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium eligendi non velit nesciunt, molestias autem dignissimos quis aliquid nostrum odio totam consectetur corrupti?]
    a(href="#").news__more Подробнее