//- .modal-win(data-modal-win="add465")

//-   .modal-win__body
    
//-     button.modal-win__close
//-       +icon('close', 'modal-win__close-icon')
    
.product-added(data-modal-win="add465")

  .h3.product-added__heading Товар добавлен в корзину

  article.product

    header.product__header
      a.product__img-wrap(href="#")
        img.product__img.img-responsive(src="https://static.svyaznoy.ru/upload/iblock/ba3/ipadpro105-cellular-pure-angles-space-gray-3.jpg/resize/307x224/" alt="Product Img")

    .product__body
      .product__title #[a.product__title-link(href="#") Заголовок товара длинный]
      .product__price 125 000 р
      include ../../components/counter

  footer.product-added__footer
    a.btn.btn--reverse.product-added__continue(href="#") Продолжить покупки
    a.btn.btn--primary(href="#") Перейти в корзину