.modal-win.modal-win--wide(data-modal-win="856")

  .modal-win__body
    
    button.modal-win__close
      +icon('close', 'modal-win__close-icon')

    include ../product-cards-modal/product-card-modal-4