.modal-win(data-modal-win="add856")

  .modal-win__body
    
    button.modal-win__close
      +icon('close', 'modal-win__close-icon')
    
    .product-added

      .h3.product-added__heading Товар добавлен в корзину

      article.product

        header.product__header
          a.product__img-wrap(href="#")
            img.product__img.img-responsive(src="https://www.intel.com/content/dam/www/public/us/en/images/photography-consumer/16x9/pc-upgrades/laptops-16x9.png.rendition.intel.web.480.270.png" alt="Product Img")

        .product__body
          .product__title #[a.product__title-link(href="#") Заголовок товара длинный]
          .product__price 125 000 р

      footer.product-added__footer
        a.btn.btn--reverse(href="#") Продолжить покупки
        a.btn.btn--main(href="#") Перейти в корзину