//- .modal-win(data-modal-win="terms-of-use-modal")

//-   .modal-win__main
    
//-     button.modal-win__close
//-       +icon('close', 'modal-win__close-icon')

div(data-modal-win="terms-of-use-modal")

  h2.h2 Пользовательское соглашение

  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tenetur, necessitatibus temporibus incidunt inventore qui nemo illum vero saepe debitis ipsum nulla voluptates ipsa molestias ratione odit, adipisci omnis. Aliquam?

  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tenetur, necessitatibus temporibus incidunt inventore qui nemo illum vero saepe debitis ipsum nulla voluptates ipsa molestias ratione odit, adipisci omnis. Aliquam?

  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tenetur, necessitatibus temporibus incidunt inventore qui nemo illum vero saepe debitis ipsum nulla voluptates ipsa molestias ratione odit, adipisci omnis. Aliquam?