//- button.main-nav-trigger
//-   +icon('menu', 'main-nav-trigger-icon')

// main-nav
nav.main-nav

  button.main-nav__close-nav Закрыть меню
    +icon('close', 'main-nav__close-nav-icon')

  ul.main-nav__container
    
    li.main-nav__item.main-nav__item--catalog.is-catalog-opened
      a.main-nav__link(href="#") Каталог товаров
        +icon('chevron-down', 'main-nav__item-icon')
      ul.main-nav__catalog-list
        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Холодильники

        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Новый вид каталога
            +icon('chevron-right', 'main-nav__catalog-item-icon')
          ul.main-nav__subcatalog-list
            li.main-nav__subcatalog-item
              a.main-nav__subcatalog-link(href="#") Подуровень
            li.main-nav__subcatalog-item
              a.main-nav__subcatalog-link(href="#") Подуровень
                +icon('chevron-right', 'main-nav__subcatalog-item-icon')
              ul.main-nav__tertcatalog-list
                li.main-nav__tertcatalog-item
                  a.main-nav__tertcatalog-link(href="#") Третий уровень
                li.main-nav__tertcatalog-item
                  a.main-nav__tertcatalog-link(href="#") Третий уровень
                li.main-nav__tertcatalog-item
                  a.main-nav__tertcatalog-link(href="#") Третий уровень
                li.main-nav__tertcatalog-item
                  a.main-nav__tertcatalog-link(href="#") Третий уровень

        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Ссылка
        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Очень длинная ссылка, прям в два ряда
        
        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Ссылка
            +icon('chevron-right', 'main-nav__catalog-item-icon')
          .main-nav__dropdown-banner
            a.main-nav__dropdown-banner-link(href="#")
              img.main-nav__dropdown-banner-img(src="https://dummyimage.com/210x610/cccccc/fff.jpg" alt="Banner")
          ul.main-nav__subcatalog-list
            li.main-nav__subcatalog-item
              a.main-nav__subcatalog-link(href="#") Подуровень
            li.main-nav__subcatalog-item
              a.main-nav__subcatalog-link(href="#") Подуровень
                +icon('chevron-right', 'main-nav__subcatalog-item-icon')
              ul.main-nav__tertcatalog-list
                li.main-nav__tertcatalog-item
                  a.main-nav__tertcatalog-link(href="#") Третий уровень
                li.main-nav__tertcatalog-item
                  a.main-nav__tertcatalog-link(href="#") Третий уровень
                li.main-nav__tertcatalog-item
                  a.main-nav__tertcatalog-link(href="#") Третий уровень
                li.main-nav__tertcatalog-item
                  a.main-nav__tertcatalog-link(href="#") Третий уровень
            li.main-nav__subcatalog-item
              a.main-nav__subcatalog-link(href="#") Подуровень
            li.main-nav__subcatalog-item
              a.main-nav__subcatalog-link(href="#") Подуровень
            li.main-nav__subcatalog-item
              a.main-nav__subcatalog-link(href="#") Подуровень

        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Ссылка
        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Ссылка
        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Ссылка
        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Ссылка
        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Ссылка
        li.main-nav__catalog-item
          a.main-nav__catalog-link(href="#") Ссылка
    
    li.main-nav__item
      a.main-nav__link(href="#") Простой пункт
    
    li.main-nav__item
      a.main-nav__link(href="#") Первый тип меню
        +icon('chevron-down', 'main-nav__item-icon')
      ul.main-nav__secondary-container
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Ссылка второго уровня
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Ссылка
            +icon('chevron-right', 'main-nav__secondary-item-icon')
          ul.main-nav__tertiary-container
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка второго уровня
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка второго уровня
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка второго уровня
            li.main-nav__tertiary-item
              a.main-nav__tertiary-link(href="#") Ссылка
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Ссылка второго уровня
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Ссылка
    
    li.main-nav__item.main-nav__item--rows
      a.main-nav__link(href="#") Второй тип меню
        +icon('chevron-down', 'main-nav__item-icon')
      ul.main-nav__rows-list
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
    
    li.main-nav__item
      a.main-nav__link(href="#") Какой-то раздел
    
    li.main-nav__item.main-nav__item--cols
      a.main-nav__link(href="#") Третий тип меню
        +icon('chevron-down', 'main-nav__item-icon')
      ul.main-nav__cols-list
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Раздел
            +icon('chevron-right', 'main-nav__item-cols-icon')
          ul.main-nav__cols-sublist
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Раздел
            +icon('chevron-right', 'main-nav__item-cols-icon')
          ul.main-nav__cols-sublist
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел очень длинный
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Раздел
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Раздел
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Очень длинный раздел
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Раздел
            +icon('chevron-right', 'main-nav__item-cols-icon')
          ul.main-nav__cols-sublist
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
            li.main-nav__cols-subitem
              a.main-nav__cols-sublink(href="#") Вложенный раздел
        li.main-nav__cols-item
          a.main-nav__cols-link(href="#") Раздел
    
    li.main-nav__item
      a.main-nav__link(href="#") Еще пункт
// /main-nav        