//- button.main-nav-trigger
//-   +icon('menu', 'main-nav-trigger-icon')

// main-nav
nav.main-nav

  button.main-nav__close-nav Закрыть меню
    +icon('close', 'main-nav__close-nav-icon')

  ul.main-nav__container
    
    li.main-nav__item
      a.main-nav__link(href="#") Мужская обувь
      ul.main-nav__secondary-container
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Кеды
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Кросовки
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Мокасины
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Полуботинки
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Сандалии
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Слипоны
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Туфли
        li.main-nav__secondary-item
          a.main-nav__secondary-link(href="#") Шлепанцы
    
    li.main-nav__item
      a.main-nav__link(href="#") Бренды
    
    li.main-nav__item
      a.main-nav__link(href="#") Распродажа
    
    li.main-nav__item
      a.main-nav__link(href="#") Новости
    
    li.main-nav__item
      a.main-nav__link(href="#") О нас
// /main-nav