//- button.main-nav-trigger
//-   +icon('menu', 'main-nav-trigger-icon')

// main-nav
nav.main-nav

  button.main-nav__close-nav Закрыть меню
    +icon('close', 'main-nav__close-nav-icon')

  ul.main-nav__container

    li.main-nav__item.main-nav__item--rows
      a.main-nav__link(href="#") Мужская обувь
        +icon('chevron-down', 'main-nav__item-icon')
      ul.main-nav__rows-list.has-banner
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        .main-nav__dropdown-banner.d-none.d-md-block
          a.main-nav__dropdown-banner-link(href="#")
            img.main-nav__dropdown-banner-img(src="assets/images/media/news-2.png" alt="Banner")
    
    li.main-nav__item.main-nav__item--rows
      a.main-nav__link(href="#") Женская обувь
        +icon('chevron-down', 'main-nav__item-icon')
      ul.main-nav__rows-list.has-banner
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        .main-nav__dropdown-banner.d-none.d-md-block
          a.main-nav__dropdown-banner-link(href="#")
            img.main-nav__dropdown-banner-img(src="assets/images/media/news-3.png" alt="Banner")
    
    li.main-nav__item.main-nav__item--rows
      a.main-nav__link(href="#") Мужские сумки
        +icon('chevron-down', 'main-nav__item-icon')
      ul.main-nav__rows-list
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
    
    li.main-nav__item.main-nav__item--rows
      a.main-nav__link(href="#") Женские сумки
        +icon('chevron-down', 'main-nav__item-icon')
      ul.main-nav__rows-list
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
        li.main-nav__rows-item
          a.main-nav__rows-link(href="#") Какой-то пункт
            +icon('chevron-right', 'main-nav__item-rows-icon')
          ul.main-nav__rows-sublist
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
            li.main-nav__rows-subitem
              a.main-nav__rows-sublink(href="#") Третий уровень
    
    li.main-nav__item
      a.main-nav__link(href="#") Распродажа
    
// /main-nav