nav.top-header-nav

  button.top-header-nav__toggle.js-dropdown-toggle
    +icon('menu-dots', 'top-header-nav__toggle-icon')

  ul.top-header-nav__list
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Помощь]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Советы]
      ul.top-header-nav__sublist
        li.top-header-nav__subitem
          a.top-header-nav__sublink(href="#") Выбор обуви
        li.top-header-nav__subitem
          a.top-header-nav__sublink(href="#") Типы сумок
        li.top-header-nav__subitem
          a.top-header-nav__sublink(href="#") Спортивная обувь
        li.top-header-nav__subitem
          a.top-header-nav__sublink(href="#") Выбор обуви
        li.top-header-nav__subitem
          a.top-header-nav__sublink(href="#") Типы сумок
        li.top-header-nav__subitem
          a.top-header-nav__sublink(href="#") Спортивная обувь
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Частые вопросы]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text О нас]

  ul.top-header-nav__dropdown