nav.top-header-nav

  button.top-header-nav__toggle.js-dropdown-toggle
    +icon('menu-dots', 'top-header-nav__toggle-icon')

  ul.top-header-nav__list
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Как купить]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Доставка]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text О магазине]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Гарантия]
    li.top-header-nav__item
      a(href="#").top-header-nav__link #[span.top-header-nav__text Контакты]

  ul.top-header-nav__dropdown