.catalog-list-table.mb-medium

  .catalog-list-table__item
    include ../components/products/product-table-1

  .catalog-list-table__item
    include ../components/products/product-table-2

  .catalog-list-table__item
    include ../components/products/product-table-3

  .catalog-list-table__item
    include ../components/products/product-table-4