.catalog-main.mb-medium

  .catalog-main__item
    include ../components/products/product-1

  .catalog-main__item
    include ../components/products/product-2

  .catalog-main__item
    include ../components/products/product-3

  .catalog-main__item
    include ../components/products/product-4

  .catalog-main__item
    include ../components/products/product-2

  .catalog-main__item
    include ../components/products/product-3

  .catalog-main__item
    include ../components/products/product-1

  .catalog-main__item
    include ../components/products/product-4