.catalog-list-line.mb-medium

  .catalog-list-line__item
    include ../components/products/product-line-1

  .catalog-list-line__item
    include ../components/products/product-line-2

  .catalog-list-line__item
    include ../components/products/product-line-3

  .catalog-list-line__item
    include ../components/products/product-line-4

  .catalog-list-line__item
    include ../components/products/product-line-2

  .catalog-list-line__item
    include ../components/products/product-line-3

  .catalog-list-line__item
    include ../components/products/product-line-1

  .catalog-list-line__item
    include ../components/products/product-line-4

  .catalog-list-line__item
    include ../components/products/product-line-2

  .catalog-list-line__item
    include ../components/products/product-line-3