.header-top-area

  .container-fluid

    .header-top-area__main
      include ../components/top-header-nav
      include ../components/select-lang

.container-fluid

  header.header

    include ../components/logo

    .header__search-form
      include ../components/search-form
    .header__choose__location
      include ../components/choose-location
    .header__header-contacts
      include ../components/header-contacts

    .header-utilities
      include ../components/header-utility/header-utility-1
      include ../components/header-utility/header-utility-2
      include ../components/header-utility/header-utility-3
      include ../components/header-utility/header-utility-4