.news-section.mb-medium

  .h2 Новости

  .row

    .col-sm-6
      include ../components/news/news-1

    .col-sm-6
      include ../components/news/news-2

    .col-sm-6
      include ../components/news/news-3
      
    .col-sm-6
      include ../components/news/news-4