.product-main.mb-medium

  include ../components/product-main-promo

  .product-main__details
    .row
      .col-sm-7
        include ../components/product-main-description

      .col-sm-5
        include ../components/product-main-controls