.product-main.mb-medium

  include ../components/product-main-promo

  .product-main__details
    .row
      .col-xl-7
        include ../components/product-main-description

      .col-xl-5.order-first.order-xl-last
        include ../components/product-main-controls