.tabs-section.mb-medium

  .h2 Табы с хэшем

  .tabs

    .tabs__header

      ul.tabs__list
        li.tabs__item
          a.tabs__link.is-active(href="#section-1") Вкладка
        li.tabs__item
          a.tabs__link(href="#section-2") Раздел
        li.tabs__item
          a.tabs__link(href="#section-3") Описание
        li.tabs__item
          a.tabs__link(href="#section-4") Обзор

    .tabs__panes

      .tabs__tab-pane.is-active.is-opened
        .tabs__accordeon-toggle Вкладка
        .tabs__accordeon-body
          .h3 Вкладка
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sequi dignissimos cumque possimus deleniti provident dolorum nisi culpa iste asperiores officiis, ducimus, natus commodi mollitia perspiciatis eum est autem rem. Autem quas beatae a debitis, voluptatem soluta. Quaerat maxime ipsa necessitatibus, dolorum consectetur officia, alias eveniet placeat dicta saepe temporibus?

      .tabs__tab-pane
        .tabs__accordeon-toggle Раздел
        .tabs__accordeon-body
          .h3 Раздел
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sequi dignissimos cumque possimus deleniti provident dolorum nisi culpa iste asperiores officiis, ducimus, natus commodi mollitia perspiciatis eum est autem rem. Autem quas beatae a debitis, voluptatem soluta. Quaerat maxime ipsa necessitatibus, dolorum consectetur officia, alias eveniet placeat dicta saepe temporibus?

      .tabs__tab-pane
        .tabs__accordeon-toggle Описание
        .tabs__accordeon-body
          .h3 Описание
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sequi dignissimos cumque possimus deleniti provident dolorum nisi culpa iste asperiores officiis, ducimus, natus commodi mollitia perspiciatis eum est autem rem. Autem quas beatae a debitis, voluptatem soluta. Quaerat maxime ipsa necessitatibus, dolorum consectetur officia, alias eveniet placeat dicta saepe temporibus?

      .tabs__tab-pane
        .tabs__accordeon-toggle Обзор
        .tabs__accordeon-body
          .h3 Обзор
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sequi dignissimos cumque possimus deleniti provident dolorum nisi culpa iste asperiores officiis, ducimus, natus commodi mollitia perspiciatis eum est autem rem. Autem quas beatae a debitis, voluptatem soluta. Quaerat maxime ipsa necessitatibus, dolorum consectetur officia, alias eveniet placeat dicta saepe temporibus?