.ui-demo
    
  .ui-demo__section
    h1 Heading 1 #[small small desc]
    h2 Heading 1 #[small small desc]
    h3 Heading 1 #[small small desc]
    h4 Heading 1 #[small small desc]
    h5 Heading 1 #[small small desc]
    h6 Heading 1 #[small small desc]

  hr
  
  .ui-demo__section
    a.btn(href="#") Кнопка по умолчанию
    a.btn.btn--primary(href="#") Кнопка основная
    a.btn.btn--secondary(href="#") Кнопка реверсивная
    a.btn.btn--tertiary(href="#") Кнопка реверсивная
    a.btn.btn--reverse(href="#") Кнопка реверсивная
    a.btn.btn--primary(href="#") 
      +icon('heart', 'btn__icon')
      | Кнопка с иконкой

  hr

  h2 Формы

  .ui-demo-section

    .checkbox-label
      input.checkbox-label__input(type="checkbox" name="opt-1" id="opt-1")
      label.checkbox-label__main(for="opt-1") Опция-1

    .checkbox-label
      input.checkbox-label__input(type="checkbox" checked name="opt-2" id="opt-2")
      label.checkbox-label__main(for="opt-2") Опция-2

    .checkbox-label
      input.checkbox-label__input(type="radio" name="opt" id="opt-4")
      label.checkbox-label__main(for="opt-4") Опция-1

    .checkbox-label
      input.checkbox-label__input(type="radio" checked name="opt" id="opt-3")
      label.checkbox-label__main(for="opt-3") Опция-2

  hr

  h2 Иконки

  ul
    li 
      figure
        +icon('arrow-left', '')
        figcaption #arrow-left
    li 
      figure
        +icon('arrow-right', '')
        figcaption #arrow-right
    li 
      figure
        +icon('calendar-alt', '')
        figcaption #calendar-alt
    li 
      figure
        +icon('car-brand-truck', '')
        figcaption #car-brand-truck
    li 
      figure
        +icon('car-brand', '')
        figcaption #car-brand
    li 
      figure
        +icon('car-code', '')
        figcaption #car-code
    li 
      figure
        +icon('check', '')
        figcaption #check
    li 
      figure
        +icon('chevron-down', '')
        figcaption #chevron-down
    li 
      figure
        +icon('chevron-left', '')
        figcaption #chevron-left
    li 
      figure
        +icon('chevron-right', '')
        figcaption #chevron-right
    li 
      figure
        +icon('chevron-up', '')
        figcaption #chevron-up
    li 
      figure
        +icon('clock', '')
        figcaption #clock
    li 
      figure
        +icon('close', '')
        figcaption #close
    li 
      figure
        +icon('compare-thin', '')
        figcaption #compare-thin
    li 
      figure
        +icon('compare', '')
        figcaption #compare
    li 
      figure
        +icon('email', '')
        figcaption #email
    li 
      figure
        +icon('eye', '')
        figcaption #eye
    li 
      figure
        +icon('facebook-f', '')
        figcaption #facebook-f
    li 
      figure
        +icon('google', '')
        figcaption #google
    li 
      figure
        +icon('graph-compare', '')
        figcaption #graph-compare
    li 
      figure
        +icon('heart-thin', '')
        figcaption #heart-thin
    li 
      figure
        +icon('heart', '')
        figcaption #heart
    li 
      figure
        +icon('info', '')
        figcaption #info
    li 
      figure
        +icon('login', '')
        figcaption #login
    li 
      figure
        +icon('menu-dots', '')
        figcaption #menu-dots
    li 
      figure
        +icon('menu', '')
        figcaption #menu
    li 
      figure
        +icon('odnoklassniki', '')
        figcaption #odnoklassniki
    li 
      figure
        +icon('phone-book', '')
        figcaption #phone-book
    li 
      figure
        +icon('phone-call', '')
        figcaption #phone-call
    li 
      figure
        +icon('search', '')
        figcaption #search
    li 
      figure
        +icon('share-thin', '')
        figcaption #share-thin
    li 
      figure
        +icon('shopping-cart', '')
        figcaption #shopping-cart
    li 
      figure
        +icon('sliders-h', '')
        figcaption #sliders-h
    li 
      figure
        +icon('sort', '')
        figcaption #sort
    li 
      figure
        +icon('th-list', '')
        figcaption #th-list
    li 
      figure
        +icon('tick', '')
        figcaption #tick
    li 
      figure
        +icon('truck', '')
        figcaption #truck
    li 
      figure
        +icon('twitter', '')
        figcaption #twitter
    li 
      figure
        +icon('tyre', '')
        figcaption #tyre
    li 
      figure
        +icon('update-arrow', '')
        figcaption #update-arrow
    li 
      figure
        +icon('user', '')
        figcaption #user
    li 
      figure
        +icon('vk', '')
        figcaption #vk
    li 
      figure
        +icon('wallet', '')
        figcaption #wallet
    li 
      figure
        +icon('youtube', '')
        figcaption #youtube
    li 
      figure
        +icon('paper-plane', '')
        figcaption #paper-plane
    li 
      figure
        +icon('play', '')
        figcaption #play