.ui-demo
    
  .ui-demo__section
    h1 Heading 1 #[small small desc]
    h2 Heading 1 #[small small desc]
    h3 Heading 1 #[small small desc]
    h4 Heading 1 #[small small desc]
    h5 Heading 1 #[small small desc]
    h6 Heading 1 #[small small desc]

  hr
  
  .ui-demo__section
    a.btn(href="#") Кнопка по умолчанию
    a.btn.btn--primary(href="#") Кнопка основная
    a.btn.btn--secondary(href="#") Кнопка реверсивная
    a.btn.btn--tertiary(href="#") Кнопка реверсивная
    a.btn.btn--reverse(href="#") Кнопка реверсивная
    a.btn.btn--primary(href="#") 
      +icon('heart', 'btn__icon')
      | Кнопка с иконкой

  hr

  h2 Формы

  .ui-demo-section

    .checkbox-label
      input.checkbox-label__input(type="checkbox" name="opt-1" id="opt-1")
      label.checkbox-label__main(for="opt-1") Опция-1

    .checkbox-label
      input.checkbox-label__input(type="checkbox" checked name="opt-2" id="opt-2")
      label.checkbox-label__main(for="opt-2") Опция-2

    .checkbox-label
      input.checkbox-label__input(type="radio" name="opt" id="opt-4")
      label.checkbox-label__main(for="opt-4") Опция-1

    .checkbox-label
      input.checkbox-label__input(type="radio" checked name="opt" id="opt-3")
      label.checkbox-label__main(for="opt-3") Опция-2

  hr

  h2 Формы

  .ui-demo-section

    .checkbox-label
      input.checkbox-label__input(type="checkbox" name="opt-1" id="opt-1")
      label.checkbox-label__main(for="opt-1") Опция-1

    .checkbox-label
      input.checkbox-label__input(type="checkbox" checked name="opt-2" id="opt-2")
      label.checkbox-label__main(for="opt-2") Опция-2

    .checkbox-label
      input.checkbox-label__input(type="radio" name="opt" id="opt-4")
      label.checkbox-label__main(for="opt-4") Опция-1

    .checkbox-label
      input.checkbox-label__input(type="radio" checked name="opt" id="opt-3")
      label.checkbox-label__main(for="opt-3") Опция-2