.ui-demo
    
  .ui-demo__section
    h1 Heading 1 #[small small desc]
    h2 Heading 1 #[small small desc]
    h3 Heading 1 #[small small desc]
    h4 Heading 1 #[small small desc]
    h5 Heading 1 #[small small desc]
    h6 Heading 1 #[small small desc]

  hr
  
  .ui-demo__section
    a.btn(href="#") Кнопка по умолчанию
    a.btn.btn--primary(href="#") Кнопка основная
    a.btn.btn--secondary(href="#") Кнопка реверсивная
    a.btn.btn--tertiary(href="#") Кнопка реверсивная
    a.btn.btn--reverse(href="#") Кнопка реверсивная
    a.btn.btn--primary(href="#") 
      +icon('heart', 'btn__icon')
      | Кнопка с иконкой

  hr