figure.service-card
  .service-card__img-wrap
    a.service-card__img-link(href="#")
      img.service-card__img.img-responsive(src="https://dummyimage.com/600x400/cccccc/fff.jpg" width="600" height="400" alt="Service")
  figcaption.service-card__detail
    .service-card__title
      a.service-card__title-link(href="#") Название элемента длинное в две строки
    span.service-card__price 3 406 ₽
    a.service-card__more.btn.btn--primary(href="#") Подробнее